@charset "utf-8";

/* CSS Document */

html {
	font-family:"Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}

body {
	margin: 0 auto;
	font-size: 1.4rem;
	line-height: 1.5;
	color: #333333;
	background-color: white;
	width: 640px;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

svg:not(:root) {
	overflow: hidden;
}

a {
	background: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	color: #333;
}

a:active {
	outline: 0;
}

a:active {
	color: #333;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	vertical-align: middle;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	resize: vertical;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

html,
button,
input,
select,
textarea {
	font-family: "Helvetica Neue",Helvetica,Roboto,Segoe UI,Arial,sans-serif;
	background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
	margin: 0;
}

ul,
ol,
li,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none outside none;
}
i{
	font-style: normal;
}
h1,
h2,
h3 {
	line-height: 2;
	font-weight: normal;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #cccccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #cccccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #cccccc;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ggwidth{
	width: 586px;
	margin:0 auto;
}

/*banner*/
.banner{
	width: 640px;
overflow: hidden;
}
.banner  img{
	width: 640px;
	height: 380px;
}
.banner{
	z-index: 1;
}
/*banner*/

/*头部*/
.head_bg{
	width: 586px;
	height:606px;
	margin:-80px auto 0 auto;
	background-color: #fff;
	box-shadow:0px 15px 30px rgba(250,120,146,.1);
	margin-bottom: 80px;
	z-index: 999;
	border-radius: 16px;
	position:relative;
}
.head_box{
	width: 530px;
	text-align: center;
	margin:0 auto 0 auto;
}
.nav_top a img{
	margin-top: 40px;
	text-align: center;
}
.nav_top h1{
	color: #4c4c4c;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.nav_top p{
	color: #808080;
	font-size: 20px;
	text-align: center;
}
.nav_top i{
	color: #4c4c4c;
	font-size: 26px;
}
.nav ul li{
	width: 87px;
	float: left;
}
.nav ul li>a{
	width: 87px;
	height: 87px;
	border-radius: 100%;
	background-color: #fff;
	box-shadow:0px 0px 16px rgba(0,0,0,.06);
	float: left;
	margin-bottom: 16px;
}
.nav ul li a img{
	margin-top: 24px;

}
.nav ul li p>a{
	color: #919191;
	width: 87px;
	font-size:20px;
	display: block;
text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.nav ul li{
	margin:16px 22px ;
}
/*头部*/

/*产品*/
.pro_box{
	margin-top: 80px;
}
.pro_title{
	border-bottom: 1px solid #faedf0;
	height: 80px;

}
.pro_title h2>a{
	font-size: 28px;
	float: left;
	font-weight: bold;
	color: #797979;
	line-height: 80px;
}
.pro_title>a{
	float: right;
	color: #797979;
	line-height: 80px;
}
/*产品*/
.menu-title {
	padding: 10px 0 20px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}

.menu-title h3 a {
	color: #797979;
	font-weight: bold;
	font-size: 28px;
}

.menu-title .more {
	float: right;
	line-height: 2;
	color: #666;
}



.product-center .tabs {
	background: #fff;
	border-radius: 7px;
	padding: 0 10px;
	display: flex;
	margin-bottom: 20px;
	overflow: hidden;
}

.product-center .tabs a {
	padding: 10px;
	color: #999999;
	font-size: 23px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 150px;
	text-align: center;
}

.product-center .tabs a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background: rgba(250, 120, 146, 1);
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.product-center .tabs a.active {
	color: rgba(250, 120, 146, 1);
}

.product-center .tabs a.active:before {
	width: 100%;
}


.product-center .swiper-slide {
	display: flex;

}
.product-center .swiper-slide a{
	
	margin-bottom: 30px;

}
.product-center .item {
	width: 250px;
}

.product-center .item .img {
	width: 250px;
	height: 175px;
	border-radius: 7px;
	overflow: hidden;
}

.product-center .item .img img {
	width: 100%;
	height: 100%;
}

.product-center .item h4 {
	border-radius: 10px;
	background: #fff;
	width: 100%;
	padding: 3px 10px;
	margin: 10px auto;
	text-align: center;
	font-size: 23px;
	font-weight: normal;
	color: #999999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-shadow: 0px 4px 10px rgba(250, 120, 146, .2);
}

.product-center .item:first-child {
	margin-right: 40px;
	margin-left: 15px;
}

/*优势*/


.ys_bg{
	padding-bottom: 120px;
	background-color: rgba(250, 120, 146,1);
	text-align: center;
	margin-top: 50px;
	position: relative;
	z-index: 1;
	padding:25px 25px 120px 25px;
}
.ys_title h3{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	line-height: 100px;
}

.ys_box{
	background-color: #fff;
	border-radius: 6px;
	padding-bottom: 100px;
	margin-top: 60px;
	width: 586px;

}

.ys_box img{
	width: 520px;
	height: 300px;
	border-radius: 6px;
	margin-top: -40px;
	box-shadow:0px 15px 30px rgba(250, 120, 146,.2);
}
.ys_box h4{
	color: #616161;
	font-size: 26px;
	line-height: 80px;
	width: 400px;
	margin:30px auto 0 auto;
	border-bottom: 1px solid #efefef;
}
.ys_box p{
	color: #a4a4a4;
	font-size: 18px;
	width: 500px;
	height: 92px;
	
	margin:30px auto;
}
.ys_dian{
	position: absolute;
	bottom: 0;
	left: 45%;
	color: rgba(250, 120, 146,1);

}
.swiper-pagination-bullet{
	margin:0 4px;
}
.swiper-pagination-bullet-active{
	background: rgba(250, 120, 146,1);
	
}
/*优势*/

/*探头*/
.tt_box{
	height: 150px;
	border-radius: 6px;
	box-shadow:0px 0px 16px  rgba(0, 0, 0,.1);
	text-align: center;
	margin-top: -75px;
	background-color: #fff;
	position: relative;
	z-index: 99;
	margin-bottom: 80px;
}
.tt_box h4{
	font-size: 26px;
	font-weight: bold;
	color: rgba(250, 120, 146,1);
	padding-top: 14px;
}
.tt_box p{
	color: #525252;
	font-size: 20px;
}
.tt_box a{
	display: block;
	width: 380px;
	height: 40px;
	border-radius:24px;
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	background-color: rgba(250, 120, 146,1);
	margin:10px auto;
}
/*探头*/


/*案例*/
.anli_cont {
	padding-bottom: 20px;
	margin-top: 60px;
}

.anli_cont .swiper {
	width: 640px;
	margin: 0 auto;
	position: relative;
}

.anli_cont .swiper:before {
	content: '';
	display: block;

	width: 640px;
	height: 15px;
	position: absolute;
	bottom: -15px;
	left: 50%;
	z-index: 3;
	margin-left: -415px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	opacity: .6;
}

.current-swiper {
	width: 530px;
	height: 544px;
	border-radius: 15px;
	margin: 0 auto;
	box-shadow: 0 0 20px rgba(250, 120, 146,.2);
	position: relative;
	z-index: 99;
}

.left-swiper {
	position: absolute;
	left: 0;
	right: auto;
	top: 50%;
	z-index: 1;
	margin-top: -220px;
}

.right-swiper {
	position: absolute;
	right: 0;
	left: auto;
	top: 50%;
	z-index: 1;
	margin-top: -220px;
}

.nocurrent-swiper {
	width: 490px;
	height: 415px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow:0px 15px 30px rgba(250, 120, 146,.2);
}

.anli_cont .swiper img {
	width: 100%;
	height: 348px;;
}

.anli_cont .swiper-pagination {
	width: 100%;
}

.anli_cont .swiper-pagination .swiper-pagination-bullet {
	width: 24px;
	height: 5px;
	border-radius: 0;
	margin: 0 5px;
	background: rgba(250, 120, 146, 1);
}
.anli_nr{
	text-align: center;
	background-color: #fff;

}
.anli_nr i a{
	color: #616161;
	font-size: 26px;
	font-weight: bold;
	padding:40px 0 16px 0;
	display: block;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.anli_nr p{
	width: 370px;
	height: 60px;
	color: #a4a4a4;
	overflow: hidden;
	margin:10px auto;
	font-size: 20px;
	margin-bottom: 30px;
}
/*案例*/

/*公司简介*/
.about_box{
	height: 300px;
	margin-top: 80px;
	position: relative;
}
.about_box>a>img{
	width: 320px;
	height: 300px;
}
.about_box>div{
	width: 340px;
	height: 242px;
	background-color: #fff;
	box-shadow:0px 15px 30px rgba(0, 0, 0,.1);
	position: absolute;
	right: 0;
	top: 30px;
	border-radius: 6px;
	padding-left: 30px;
}
.about_box>div>h3{
	line-height:26px;
	margin-top: 30px;
}
.about_box>div>h3>a{
	color: #4c4c4c;
	font-size: 24px;
	font-weight: bold;
	
}
.about_box>div>h3>p{
	color: #4c4c4c;
	font-size: 14px;
	text-transform: uppercase;
}
.about_box>div>p{
	font-size: 20px;
	color: #4c4c4c;
	width: 290px;
	height: 62px;
	overflow: hidden;
	margin:26px 0;
}
.about_box>div>a{
	font-size: 18px;
}
/*公司简介*/

/*新闻*/

.news {
	padding-bottom: 60px;
	margin-top: 70px;
}

.news .tabs {
	padding: 5px 15px;
	background: #fff;
	border-radius: 7px;
	margin-bottom: 10px;
}

.news .tabs a {
	margin-right: 20px;
	position: relative;
	display: inline-block;
	padding: 10px 0;
}

.news .tabs a.active {
	
	color: rgba(250, 120, 146, 1);
}

.news .tabs a i {
	display: block;
	opacity: 0;
	width: 45px;
	height: 53px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.news .tabs a i:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	left: -45px;
	border-right: 20px solid transparent;
	
}

.news .tabs a.active i {
	opacity: 1;
	transform: rotateZ(0);
	-webkit-transform: rotateZ(0);
}

.news .tabs a:before {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	bottom: 5px;
	width: 0px;
	height: 2px;
	margin-left: 0px;
	background: rgba(250, 120, 146, 1);
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.news .tabs .active:before {
	width: 40px;
	margin-left: -20px;
}

.news .items {
	padding: 10px;
	background: #fff;
	margin: 10px;
	border-radius: 7px;
box-shadow:0px 15px 15px rgba(250, 120, 146, .1);
	margin-bottom: 24px;
	height:160px;
}

.news .items .img {
	float: left;
	margin-right: 20px;
}

.news .items .img img {
	width: 124px;
	height:108px;
	border-radius: 7px;
	margin:18px;
}

.news .items .info {}

.news .items h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #606060;
	margin-top: 18px;
	font-size: 22px;
	margin-bottom: 10px;
}

.news .items p {
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #bbb;
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 10px;
}

.news .items span {
	font-size: 18px;
	color: #bbb;
	margin-top: 4px;
	float: right;
	margin-right: 10px;
}
.news .items i{
	width: 80px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	display: block;
	background-color: rgba(250, 120, 146, 1);
	color: #fff;
	font-size: 16px;
	float: left;
	border-radius: 14px;
	margin-top: 6px;
	margin-right: 10px;
}
/*页脚*/
.footer_bg{
	background-color: rgba(250, 120, 146, 1);
	padding: 60px 0;
	margin-bottom:86px;
}
.footer_box{
	background-color: #fff;
	text-align: center;
	padding: 30px 0;
	border-radius: 6px;
		box-shadow:0px 0px 16px rgba(0,0,0,.1);
}
.footer_box p{
	color: #828282;
	font-size: 22px;

}

.footer-bar {
	position: fixed;
	bottom: 0;
	background-color: rgba(250, 120, 146, 1);
	width: 640px;
	z-index: 999;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .2);

}

.footer-bar ul {
	display: flex;
	justify-content: space-around;
}

.footer-bar li {
	 width: 24%; 
	padding: 10px 0;
	text-align: center;
}

.footer-bar li img {
	display: block;
	margin: auto;
}

.footer-bar li span {
	color: rgba(255, 255, 255, .63);
}
.footer-bar .footer_phone{
	width: 78px;
	height: 78px;
	display: block;
	border-radius: 100%;
	text-align: center;
	line-height: 70px;
	background-color: #fff;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .2);
	margin-top: -40px;
}
.footer-bar .footer_phone img{
	margin-top: 8px;
}

.footer_box>i>img{
	width: 140px;
	height: 140px;
	display: block;
	margin:10px auto;
}
.footer_box i{
	font-size: 20px;
	color: #828282;
	text-align: center;

}

#kefu-ball{
	background: rgba(250, 120, 146, 1);
	position: fixed;
	right: 0;
	bottom: 30%;
	border-radius: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px 0px rgba(250, 120, 146, .6);
}
