@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */

html {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}
body {
	margin: 0 auto;
	font-size: 1.4rem;
	line-height: 1.5;
	color: #333333;
	background-color: white;
	width: 640px;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
 [hidden], template {
 display: none;
}
svg:not(:root) {
	overflow: hidden;
}
a {
	background: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	color: #333;
}
a:active {
	outline: 0;
}
a:active {
	color: #333;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
	vertical-align: middle;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}
pre {
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
 input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
 height: auto;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
 input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	resize: vertical;
}
optgroup {
	font-weight: bold;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	padding: 0;
}
html, button, input, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Roboto, Segoe UI, Arial, sans-serif;
	background: #e6f7fc;
}
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
	margin: 0;
}
ul, ol, li, dl, dd {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none outside none;
}
h1, h2, h3 {
	line-height: 2;
	font-weight: normal;
}
h1 {
	font-size: 1.8rem;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.4rem;
}
 input::-moz-placeholder, textarea::-moz-placeholder {
 color: #cccccc;
}
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
 color: #cccccc;
}
 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 color: #cccccc;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix {
	clear: both;
}
/*top_all*/
.top_all {
	width: 640px;
	background-color: rgb(108, 162, 253);
	height: 610px;
}
.top {
}
.top_lg {
	text-align: center;
}
.top_lg h2 {text-align: center; display:block;
	padding-top: 35px;
	display: block;
}
.top_lg h2 a { text-align:center;
	font-size: 46px;
	color: #fff;
	font-weight: bold;
}
.top_lg h2 span {
	width: 30px;
	height: 2px;
	background: #fff;
	display: block;
	margin: auto;
}
.top_lg_w1 { text-align: center; display:block;
	margin-top: 18px;
	font-size: 24px;
	color: #fff;
	margin-bottom: 20px;
}
.nav {
	width: 640px;
	height: 300px;
	margin-top: -175px;
	background: #fff;
}
.nav ul {
	overflow: hidden;
	padding-top: 180px;
	width: 620px;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .15);
	border-radius: 8px;
	display: block;
	margin: auto;
	height: 300px;
}
.nav ul li {
	width: 155px;
	text-align: center;
	float: left;
	line-height: 60px;
	display: block;
	border-right: 1px solid rgba(108, 162, 253, .3);
	border-bottom: 1px solid rgba(108, 162, 253, .3);
}
.nav ul li a {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
	font-size: 24px;
	color: #666;
}
/*pro_all*/
.pro_all {
	width: 640px;
	margin-top: 60px;
	height: 725px;
	
}
.pro {
	width: 620px;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	border-radius: 8px;
	overflow: hidden; position:relative;padding-bottom:25px;
}
.pro_bt {
	padding-top: 30px;
	overflow: hidden;
}
.pro_bt h2 {
	
}
.pro_bt h2 a img {
	display: block;
	width: 31px;
	height: 30px;
	filter: drop-shadow(rgb(108, 162, 253) 20px 0px);
	float: left;
	margin-right: 30px;
	overflow: hidden;
}
.pro_bt h2 a b {position:absolute; top:33px; left:60px; z-index:1;
	float: left;
	display: block;
	font-size: 30px;
	color: #666666;
	line-height: 24px;
}
.pro_m { padding-top:35px; margin-right:22px;
	display: block;
	float: right;
}
.pro_m a img {
	width: 31px;
	height: 30px;
	height: 5px;
	width: 25px;
	filter: drop-shadow(rgb(108, 162, 253) 30px 0px);
	display: block;
	margin-right: 40px;
	margin-top: -20px
}
.pro_fl {
	margin-top: 30px;
}
.pro_fl ul {
	overflow: hidden;
}
.pro_fl ul li {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
	height: 40px;
	width:130px; text-align:center;
	line-height: 34px;
	border-radius: 20px;
	border: 1px solid #dcdcdc;
	margin-left: 20px;
	float: left;
}
.pro_fl ul li a {
	font-size: 18px;
	color: #555555;
}

.pro_tw{
	width: 280px;
	height: 240px;
	border-radius: 4px;
	float: left;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .2);
	margin-left: 20px;
	margin-bottom:30px;
}
.pro_t {
	width: 280px;
	height: 170px;
	margin: auto;
	padding-top: 10px;
	overflow: hidden;
}
.pro_t a img {
	width: 280px;
	height: 170px;
	border-radius: 2px;
}
.pro_w {
	text-align: center;
}
.pro_w1 {
	margin-top: 15px;
	margin-bottom: 10px;
}
.pro_w1 a {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
	font-size: 18px;
	color: #555555;
}
.pro_w2 {
	width: 62px;
	height: 24px;
	border-radius: 20px;
	text-align: center;
	line-height: 16px;
	margin: auto;
	background-color: rgb(108, 162, 253);
}
.pro_w2 a {
	font-size: 14px;
	color: #fff;
}



.product-center .tabs {
	overflow: hidden; margin-top:30px; margin-bottom:30px;
}

.product-center .tabs a {
	display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; text-align:center;
	height: 40px;
	width:135px;
	line-height: 34px;
	border-radius: 20px;
	border: 1px solid #dcdcdc;
	margin-left:15px;
	float: left;
}

.product-center .tabs a.active {
	background: rgba(108, 162, 253, 1); color:#fff;
}
.product-center .tabs .active a {
	color: #FFFFFF;
}
.product-center .tabs a.active:before {
	width: 100%;
}

.product-center .tabs-container {}

.product-center .swiper-slide {
	display: flex;
	height: 525px;
	width: 610px;	
	flex-wrap: wrap;
}
.product-center .item:nth-child(1), .product-center .item:nth-child(3){
	margin-left:10px;
}
.product-center .item {
	width: 291px;
	height: 237px;
	margin-left: 20px;	
	float: left;
	border-radius: 7px;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .2);
}

.product-center .item1{
	margin-right: 28px;
}
.product-center .item2{
	margin-right: 0px;
}
.product-center .item3{
	margin-right: 28px;
}
.product-center .item4{
	margin-right: 0px;
}

.product-center .item .img {
	width: 291px;
	height: 175px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	overflow: hidden;
}

.product-center .item .img img {
	width: 100%;
	height: 100%;
}

.product-center .item h4 {
	padding: 3px 10px;
	margin: 10px auto;
	text-align: center;
	font-size: 23px;
	font-weight: normal;
	color: #999999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



.product-cat {
	border-top: 4px solid rgba(108, 162, 253, 0.09);
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-bottom: 30px;
}

.product-cat a {
    color: #888888;
	font-size: 22px;
	min-width: 25%;
	padding: 5px 10px;
	border: 1px solid rgba(108, 162, 253, .09);
	background: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
}



/*ys_all*/
.ys_all {
	width: 640px;
	margin-top: 30px;
	margin-bottom: 0px;
}
.ys {
	width: 620px;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	border-radius: 8px;
	position: relative;
	padding-bottom: 50px;
}
.ys_bt {
	position: absolute;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
}
.ys h2 {
	position: absolute;
	z-index: 999;
	top: 30px;
	text-align: center;
	left: 33%;
}
.ys h2  {
	display: block;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-top: 0px;
	color: #fff;
}
.ys h2  span {
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: -10px;
	display: block;
}
.ys_ny {
	width: 100%;
	border-radius: 8px;
	margin: auto;
	z-index: 9;
	padding: 170px 15px 0;
}
.ys_qh .swiper-container {
	overflow: visible;
}
.ys_qh .swiper-wrapper {
	height: auto
}
.ys_qh .swiper-slide {
	width: 590px;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	border-radius: 8px;
	background: #fff;
	padding: 10px;
	overflow: hidden;
}
.ys_qh .swiper-slide img {
	width: 100%;
	height: 300px;
}
.ys_w {
	font-size: 24px;
	color: #444444;
	text-align: center;
	padding: 20px;
}
.ys_w span {
	font-size: 18px;
	color: #666666;
	line-height: 30px;
}

/*ph_all*/
.ph_all{width: 640px;
	margin-top: 30px;
	margin-bottom: 0px;}
.ph {
	width: 620px;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	border-radius: 8px;
	position: relative;
	padding-bottom: 40px;
}
.ph_w1{ text-align:center; padding-top:20px; font-size:30px; color:rgb(108, 162, 253); padding-left:30px; padding-right:30px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ph_w2{text-align:center; padding-top:5px; font-size:24px; color:#666; padding-bottom:15px;}
.ph_w3{ width:300px; height:46px; border-radius:30px; margin:auto; line-height:46px;box-shadow: 0px 4px 10px rgba(108, 162, 253, .6);}
.ph_w31{ padding-left:15px; font-size:24px; color:rgb(108, 162, 253); float:left;}
.ph_w32{ width:120px; height:46px;line-height:46px;border-radius:30px; text-align:center;float:right;font-size:24px;background-color: rgba(108,162,253,1); }
.ph_w32 a{ font-size:22px; color:#fff; display:block; width:100%;}
/*al_all*/
.al_all {
	width: 640px;
	margin-top: 30px;
	height: 735px;
	margin-bottom: 0px;
}
.al {
	width: 620px;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	border-radius: 8px;
	height: 725px;
	overflow: hidden; position:relative;
}
.al_bt {
	padding-top: 30px;
	overflow: hidden;
}
.al_bt h2 {
	
}
.al_bt h2 a img {
	display: block;
	width: 31px;
	height: 30px;
	filter: drop-shadow(rgb(108, 162, 253) 20px 0px);
	float: left;
	margin-right: 30px;
}
.al_bt h2 a b { position:absolute; top:33px; left:60px; z-index:9999;
	float: left;
	display: block;
	font-size: 30px;
	color: #666666;
	line-height: 24px;
}
.al_m { padding-top:32px; margin-right:18px;
	display: block;
	float: right;
}
.al_m a img {
	width: 31px;
	height: 30px;
	height: 5px;
	width: 25px;
	filter: drop-shadow(rgb(108, 162, 253) 30px 0px);
	display: block;
	margin-right: 40px;
	margin-top: -20px
}
.al_lb {
	width: 580px;
	margin: auto;
	margin-top: 20px;
}
.al_lb .swiper-container {
	height: 640px;
}
.al_lb .swiper-pagination {
	position: absolute;
	top: 600px;
	z-index: 99999;
}
.al_lb .swiper-pagination-bullet-active {
	color: rgb(108, 162, 253);
	background: rgb(108, 162, 253);
}
.al_lb .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 8px;
}
.al_tw {
	position: relative;
	z-index: 9999;
	margin-top: 0px;
}
.al_t {
	width: 580px;
	height: 400px;
	border-radius: 4px;
}
.al_t a img {
	width: 580px;
	height: 400px;
	border-radius: 4px;
}
.al_w { 
	margin-top: 40px;
}
.al_w1{width:400px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.al_w1 a {
	font-size: 24px;
	color: #444444;
}
.al_w2 {
	margin-top: 10px;
	font-size: 18px;
	color: #666;
	line-height: 32px;
	height: 96px;
	overflow: hidden;
}
.al_xt {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	position: absolute;
	top: 330px;
	left: 400px;
	background-color: rgba(108, 162, 253,.5);
}
.al_xt a img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: auto;
	display: block;
	margin-top: 5px;
}
/*gs_all*/
.gs_all {
	width: 640px;
	margin-top: 30px;
	height: 435px;
	margin-bottom: 0px;
}
.gs {
	width: 620px;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	border-radius: 8px;
	height: 450px;
	position: relative;
	overflow: hidden;
}
.gs_bt {
	position: absolute;
	overflow: hidden;
	border-radius: 8px 8px 0 0;
}
.gs h2 {
	position: absolute;
	z-index: 999;
	top: 30px;
	text-align: center;
	left: 30%;
}
.gs h2 a {
	display: block;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-top: 0px;
	color: #fff;
}
.gs h2 a span {
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: -10px;
	display: block;
}
.gs_ny {
	width: 580px;
	height: 295px;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	border-radius: 8px;
	margin: auto;
	z-index: 9;
	top: 130px;
	position: absolute;
	background: #fff;
	left: 20px;
}
.gs_tw {
	overflow: hidden;
	width: 560px;
	margin: auto;
	margin-top: 15px;
}
.gs_t {
	width: 240px;
	height: 180px;
	border-radius: 4px;
	float: left;
}
.gs_t a img {
	width: 240px;
	height: 180px;
}
.gs_w {
	width: 290px;
	float: left;
	margin-left: 20px;
}
.gs_w1 {
}
.gs_w1 a {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
	font-size: 20px;
	color: #444444;
}
.gs_w2 {
	font-size: 16px;
	color: #666666;
	line-height: 28px;
	height: 112px;
	overflow: hidden;
	margin-top: 8px;
}
.gs_w3 {
	margin-top: 5px;
}
.gs_w3 a {
	color: rgb(108, 162, 253);
	font-size: 16px;
}
.gs_fl {
	position: absolute;
	top: 355px;
	z-index: 9;
	left: 20px;
}
.gs_fl ul {
	overflow: hidden;
}
.gs_fl ul li {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; text-align:center;
	height: 40px;
	width:150px;
	line-height: 34px;
	border-radius: 20px;
	border: 1px solid #dcdcdc;
	margin-left:12px; margin-right:30px;
	float: left;
}
.gs_fl ul li a {
	font-size: 18px;
	color: #555555;
}
/*kh_all*/
.kh_all {
	width: 640px;
	margin-top: 45px;
}
.kh {
	width: 620px;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	border-radius: 8px;
	overflow: hidden;
	height: 480px; position:relative;
}
.kh_bt {
	padding-top: 30px;
	overflow: hidden;
}
.kh_bt h2 {
	
}
.kh_bt h2 a img {
	display: block;
	width: 31px;
	height: 30px;
	filter: drop-shadow(rgb(108, 162, 253) 20px 0px);
	float: left;
	margin-right: 30px;
}
.kh_bt h2 a b {position:absolute; top:33px; left:60px; z-index:9999;
	float: left;
	display: block;
	font-size: 30px;
	color: #666666;
	line-height: 24px;
}
.kh_m { margin-top:30px; margin-right:18px;
	display: block;
	float: right;
}
.kh_m a img {
	width: 31px;
	height: 30px;
	height: 5px;
	width: 25px;
	filter: drop-shadow(rgb(108, 162, 253) 30px 0px);
	display: block;
	margin-right: 40px;
	margin-top: -20px
}
.kh_tw {
	margin-top: 120px;
}



.kh_tw ul {
}
.kh_tw ul li {
	float: left;
	width: 280px;
	height: 265px;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	position: relative;
	margin-left: 22px;
}
.kh_t {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	position: absolute;
	top: -80px;
	background-color: rgba(108,162,253,.5);
	left: 60px;
}
.kh_t a img {
	width: 155px;
	height: 155px;
	border-radius: 50%;
	display: block;
	margin: auto;
	padding-top: 5px;
}
.kh_w {
	margin-top: 110px;
	text-align: center;
}
.kh_w1 { padding-left:10px; padding-right:10px;
	margin-bottom: 10px;
}
.kh_w1 a {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
	font-size: 24px;
	color: #444444;
}
.kh_w2 {
	width: 250px;
	font-size: 18px;
	color: #666666;
	line-height: 32px;
	height: 64px;
	overflow: hidden;
	text-align: center;
	display: block;
	margin: auto;
}
.kh_w3 {
}
.kh_w3 a {
	color: rgb(108, 162, 253);
	font-size: 30px;
}


.kh_tw .swiper-container{ overflow:visible;}
/*xw*/
.xw_all {
	width: 640px;
	margin-top: 45px;
	margin-bottom: 600px;
	margin-bottom: 0px;
}
.xw {
	width: 620px;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	border-radius: 8px;
	overflow: hidden;
	height: 685px;
	position: relative;
}
.xw h2 a img {
	display: block;
	width: 31px;
	height: 30px;
	filter: drop-shadow(rgb(108, 162, 253) 20px 0px);
	float: left;
	margin-right: 50px;
	position: absolute;
	top: 20px;
	z-index: 9999;
}
.xw_m {
	display: block;
	position: absolute;
	top: 30px;
	left: 542px;
	z-index: 9999;
}
.xw_m a img {
	width: 31px;
	height: 30px;
	height: 5px;
	width: 25px;
	filter: drop-shadow(rgb(108, 162, 253) 30px 0px);
	display: block;
}
.news {
}
.news .tabs {
	padding: 17px 50px;
	background: #fff;
	border-radius: 7px;
	margin-bottom: 0px;
}
.news .tabs a {
	border-right: 1px solid #ccc;
	width: 150px;
	line-height: 20px;
	text-align: center;
	position: relative;
	display: inline-block;
	font-size: 24px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news .tabs a.active {
	padding-left: 0px;
	color: rgba(108, 162, 253, 1);
}
.news .tabs .active:before {
	width: 40px;
	margin-left: -20px;
}
.news .items {
	width: 580px;
	height: 170px;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .2);
	margin-bottom: 30px;
}
.news .items .img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: rgba(108,162,253,.5);
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	margin-left: 10px;
}
.news .items .img img {
	width: 124px;
	height: 124px;
	border-radius: 50%;
	margin: auto;
	padding-top: 3px;
	display: block;
}
.news .items .info {
	padding-top: 30px;
	margin-right: 10px;
}
.news .items h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.news .items h4 span{ width:380px; float:left;display:block;white-space:nowrap;overflow:hidden;font-size: 22px;
	color: #444;
	font-weight: normal;text-overflow:ellipsis;}
	
.news .items h4 b {
	float: right;
	font-size: 24px;
	color: rgb(108, 162, 253);
}
.news .items p {
	font-size: 18px;
	line-height: 32px;
	height: 64px;
	overflow: hidden;
	margin-top: 10px;
}
.news .items span {
	font-size: 18px;
	color: #bbb;
}
/*lx*/
.lx_all {
	width: 640px;
	margin-top: 30px;
	height: 425px;
	margin-bottom: 140px;
}
.lx {
	width: 620px;
	margin: auto;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	border-radius: 8px;
	height: 450px;
	position: relative;
	overflow: hidden;
}
.lx_bt {
	position: absolute;
	overflow: hidden;
	border-radius: 8px 8px 0 0;
}
.lx h2 {
	position: absolute;
	z-index: 9;
	top: 20px;
	text-align: center;
	left: 41%;
}
.lx h2 a {
	display: block;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-top: 0px;
	color: #fff;
}
.lx h2 a span {
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: -10px;
	display: block;
}
.lx_ny {
	width: 580px;
	height: 300px;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
	border-radius: 8px;
	margin: auto;
	z-index: 9;
	top: 130px;
	position: absolute;
	background: #fff;
	left: 20px;
}
.lx_ny_w {
	width: 530px;
	text-align: center;
	font-size: 18px;
	color: #666;
	line-height: 36px;
	margin-top: 30px;
}
.lx_wechat {
	width: 115px;
	height: 115px;
	margin: auto;
	margin-top:0px;
}
.lx_wechat img {
	width: 115px;
	height: 115px;
}
/*ft*/
.footer {
	background: rgba(108, 162, 253, 1);
	position: relative;
	z-index: 999999999999999;
	padding: 50px 0 100px;
	position: relative;
	margin-bottom: 500px;
}
.footer .gotop {
	display: block;
	width: 42px;
	height: 42px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: -16px;
	margin-left: -16px;
	border-radius: 50%;
	box-shadow: 0px 0px 20px 0px rgba(108, 162, 253, .6);
	background: #fff;
}
.footer .gotop:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	left: -45px;
	border-right: 20px solid transparent;
	-webkit-filter: drop-shadow(rgb(50, 179, 255) 45px 0px);
	filter: drop-shadow(rgb(50, 179, 255) 45px 0px);
	background: url(../img/gotop.png) no-repeat center center;
}
.footer .info {
	background: #fff;
	padding: 20px;
	display: flex;
}
.footer .info p {
	margin-right: 20px;
	font-size: 20px;
}
.footer .info .qrcode {
	width: 118px;
	height: 118px;
}
.footer .info .qrcode img {
	width: 118px;
	height: 118px;
}
.footer-bar {
	position: fixed;
	bottom: 0;
	background: rgba(108, 162, 253, 1);
	width: 640px;
	z-index: 999;
	box-shadow: 0px 0px 20px 0px rgba(108, 162, 253, .6);
}
.footer-bar ul {
	display: flex;
	justify-content: space-around;
}
.footer-bar li {
	/* width: 25%; */
	padding: 10px 0;
}
.footer-bar li img {
	display: block;
	margin: auto;
}
.footer-bar li span {
	padding-top: 5px;
	color: rgba(255, 255, 255, .63);
}
/**/
.case {
	position: relative;
	margin: 0 auto;
}
.case .swiper-container {
}
.case .swiper-slide {
	margin-top: 10px;
	width: 560px;
	margin-left: 10px;
	background: #fff;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .3);
}
.case .swiper-slide .item-title {
	text-align: center;
	font-size: 24px;
	color: 444444;
}
.case .swiper-slide h4 {
	padding: 10px;
	font-weight: normal;
	position: relative;
	z-index: 9;
	text-align: center;
	font-size: 24px;
	color: 444444;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.case .swiper-slide img {
	margin: auto;
	display: block;
	width: 560px;
	height: 300px;
}
.case .swiper-slide p {
	width: 560px;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 30px;
	padding-top: 0;
	text-align: center;
	color: #666;
	font-size: 18px;
	margin: 0;
	height: 90px;
	overflow: hidden;
}
.case .img {
	width: 560px;
	margin: auto;
}
/*banner*/
.banner { position:relative; z-index:9999;
	width: 100%;
	padding-bottom: 20px;
}
.banner .swiper-slide {
	border-radius: 8px;
	box-shadow: 0px 4px 10px rgba(108, 162, 253, .2);
	width: 560px;
	height: 300px;
	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-ms-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	/* margin: 0 -20px; */
}
.banner .swiper-slide.swiper-slide-active {
	width: 560px;
	height: 300px;
}
.banner .swiper-slide img {
	border-radius: 8px;
	width: 100%;
	height: 100%;
}
.icon-gs_bk {
	display: inline-block;
	width: 622px;
	height: 255px;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	color: rgba(108, 162, 253, 1);
}

#kefu-ball{
	background: rgba(108, 162, 253, 1);
	position: fixed;
	right: 0;
	bottom: 30%;
	border-radius: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px 0px rgba(108, 162, 253, .6);
}
