@charset "utf-8";

/* CSS Document */

html {
	font-family:"Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}

body {
	margin: 0 auto;
	font-size: 1.4rem;
	line-height: 1.5;
	color: #333333;
	background-color: white;
	width: 640px;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

svg:not(:root) {
	overflow: hidden;
}

a {
	background: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	color: #333;
}

a:active {
	outline: 0;
}

a:active {
	color: #333;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	vertical-align: middle;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	resize: vertical;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

html,
button,
input,
select,
textarea {
	font-family: "Helvetica Neue",Helvetica,Roboto,Segoe UI,Arial,sans-serif;
	background: #e6f7fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
	margin: 0;
}

ul,
ol,
li,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none outside none;
}

h1,
h2,
h3 {
	line-height: 2;
	font-weight: normal;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #cccccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #cccccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #cccccc;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clear{
	clear:both;
}
i{
	font-weight: normal;
    font-style: normal;
    font-family: "微软雅黑";
}
/* dbg */
.dbg1{
	background: url(../img/bg1.jpg) no-repeat center top;
	padding-top: 50px;
}
.top1>i{
	float: left;
	background: #fff;
	display: block;
	
}
.top1>i img{
	width: 244px;
	height: 70px;
}
.top1>span{
	display: block;
	float: right;
	text-transform: uppercase;
}
.top1>span i{
	color: #fff;
	font-size: 28px;
}
.top1>span p{
	color: #fff;
	font-size: 24px;
}
.top1{
	margin-bottom: 40px;
	margin-right: 15px;
    margin-left: 15px;
}
.ban img{
	width:100%;
	height: 100%;
	border-radius: 8px;
}

.ban .swiper-wrapper{
	width: 518px;
	margin:0 auto;
}
.ban {
	padding-bottom: 10px;
	
}
.ban .swiper-wrapper .swiper-slide{
	box-shadow:0px 0px 16px rgba(0,0,0,.1);
	border-radius: 8px;
}
/* dbg end*/

/* nav */
.nav {
	padding: 20px 0;
}

.nav ul {
	display: flex;
	flex-wrap: wrap;
}

.nav ul li {
	width: 130px;
    height: 130px;
    background: rgba(255,230,64,1);
    margin: 16px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(0,0,0,.1);
}

.nav ul li img {
	display: block;
    margin: 26px auto 12px auto;
}

.nav ul li span {
	padding: 0 10px;
	text-align: center;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	font-size: 26px;
}

/* nav end */
/* hot */
.ho1c{
	width: 100%;
	height: 60px;
	background: rgba(255,230,64,1);
	line-height: 60px;
	padding-right: 15px;
	padding-left: 15px;
}
.ho1c>b{
	display: block;
	float: left;
}
.ho1c>b a{
	color: #fff;
	font-size: 28px;

}
.ho1c>i{
	float: right;
	display: block;
}
.ho1c>i a{
	font-size: 24px;
	color: #fff;
}
.ho1c2{
	width: 100%;
	background: rgba(250,250,250,1);
	padding:20px 0;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 10px;
}
.hon1c3 .swiper-slide{
	width: 222px;
	border-radius: 8px;
	margin:0 5px;
}
.hon1c3 .swiper-slide>a{
	display: block;
	border-radius: 8px;
	width: 222px;

}
.hon1c3 .swiper-slide img{
	width: 222px;
	height: 140px;
	border-radius: 8px 8px 0 0 ;
}
.hon1c3 .swiper-slide h4{
	color: #333;
	font-size: 24px;
	font-weight: normal;
	height: 50px;
	background: rgba(255,255,255,1);
	border-radius: 0 0  8px 8px ;
	text-align: center;
	line-height: 50px;
	padding:0 6px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* hot  end */
/* pro */
.pro{
	margin-top: 40px;
	background: rgba(250,250,250,1);
	padding-bottom: 20px;
}
.proc{
	height: 60px;
	background: url(../img/zs1.png) no-repeat center bottom;
	line-height: 60px;
	padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.proc>b{
	display: block;
	float: left;
}
.proc>b a{
	color: #333333;
	font-size: 28px;

}
.proc>i{
	float: right;
	display: block;
}
.proc>i a{
	font-size: 20px;
	color: #4c4c4c;
}
.procon1 ul li {
	float: left;
	width: 25%;
	text-align: center;
	margin:10px 0;
}
.procon1 ul li a{
	color: #999999;
	font-size: 24px;
	display: block;
	height: 32px;
	overflow: hidden;

}
.procon2{
	margin-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
.procon2 ul li img{
	width: 186px;
	height: 138px;
	border-radius: 8px;
	box-shadow:0px 10px 15px rgba(255,230,64,.4);
}

.procon2 ul li {
	width: 186px;
	position: relative;
	float: left;
	margin:4px;
	height: 150px;
}
.procon2 ul li h4{
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 154px;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    background: rgba(255,230,64,.9);
    font-size: 22px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* pro  end */
/* ys */
.ys{
	margin-top: 40px;
	margin-bottom: 60px;
}
.ysbt{
	width: 100%;
	height: 148px;
	background: url(../img/bg2.png) no-repeat center;
	padding-right: 15px;
	padding-left: 15px;
}
.ysbt>b{
	display: block;
    float: left;
    margin-top: 60px;
}
.ysbt>a{
	width: 88px;
	height: 88px;
	border-radius: 50%;
	background: rgba(51,51,51,1);
	display: block;
	font-size: 18px;
	color: #fff;
	text-align: center;
	float: left;
	line-height: 88px;
    margin-top: -20px;
   	margin-left: 30px;
}
.ysbt i{
	float: right;
	font-size: 28px;
	color: #fff;
    display: block;
    margin-top: 60px;
}
.ys .swiper-slide{
	position: relative;
	height: 544px;
}
.yscon2{
	width: 558px;
	height: 280px;
	background: rgba(255,255,255,1);
	box-shadow:0px 0px 16px rgba(0,0,0,.2);
	margin:0 auto;
	text-align: center;
	position: absolute;
    left: 36px;
    top: 280px;
    border-radius: 8px;
}
.yscon2 h4{
	color: #333333;
	font-size: 28px;
	display: block;
	height: 82px;
	line-height: 82px;
	border-bottom: 1px solid #e5e5e5;
}
.yscon2 p{
	font-size: 22px;
	color: #a4a4a4;
	width: 468px;
	margin:0 auto;
	margin-top: 20px;
}
/* ys  end */
/* case */
.case1{
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.case2 .swiper-slide{
	width: 460px;
	margin-right:60px;
	padding-bottom: 20px;
}
.case2 .swiper-slide a{
	box-shadow: 0px 10px 23px rgba(255,230,64,.4);
	display: block;
	width: 100%;
	height: 100%;
}
.case2 .swiper-slide img{
	width: 460px;
	height: 264px;
	border-radius: 8px 8px 0 0;
}
.case2 .swiper-slide h4{
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    height: 70px;
    background: rgba(255,230,64,1);
    border-radius: 0 0 8px 8px;
    text-align: center;
    line-height: 70px;
    padding: 0 6px;
    width: 100%;
}

/* case end*/
/* x_ban */
.xban{
	width: 100%;
	height: 78px;
	line-height: 78px;
	color: #fff;
	border-radius: 50px;
	background: url(../img/zs2.png) no-repeat center rgba(255,230,64,1);
	margin-bottom: 30px;
	box-shadow: 0px 10px 23px rgba(255,230,64,.4)
}
.xban p{
	margin-left: 30px;
	float: left;
}
.xban b{
	display: block;
	width: 1px;
	height: 26px;
	float: left;
	background:rgba(51,51,51,1);
    margin: 32px 96px;
}
.xban span{
	float: right;
	margin-right: 30px;
	text-transform: uppercase;
	font-size: 22px;
}
/* x_ban  end */
/* about */
.ab{
	margin-top: 40px;
}
.abbt{
    line-height: 22px;
    width: 120px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.abbt>h4 a{
	font-size: 28px;
	color: #333333;
	font-weight: bold;
}
.abbt>b a{
	font-size: 20px;
	color: #999999;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 10px;
	display: block;
}
.abbt>i{
	width: 47px;
	height: 3px;
	background: rgba(93,93,93,1);
	display: block;
	margin-top: -6px;
}
.abcon{
	width: 356px;
	height: 256px;
	float: right;
}
.abcon>a>img{
	width: 356px;
	height: 274px;
	border-radius: 8px;
}
.abcon{
	position: relative;
}
.abcon1{
	position: absolute;
    left: -270px;
    top: 80px;
	padding:10px;
	background: rgba(250,250,250,.9);
	border-radius: 8px;
}
.abcon1 p{
    font-size: 22px;
    color: #808080;
    height: 160px;
    width: 356px;
    overflow: hidden;
    margin: 0 auto;
}

/* about end */

/* news */
.news{
	margin-top: 40px;
}
.newsbt a{
    color: #fff;
    font-size: 24px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background: rgba(76,76,76,1);
    text-align: center;
    line-height: 50px;
    float: left;
    margin: 0 10px;
    display: block;
}

.newsbt .active{
	background: rgba(255,230,64,1);
	color: #fff;
}
.newscon{
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 30px;
}
.newscon1{
	width: 588px;
    height: 120px;
    background: rgba(250,250,250,1);
    padding: 10px;
    margin: 26px 18px;
    box-shadow: 0px 0px 16px rgba(0,0,0,.08);
}
.newscon1 h4{
	color: #666666;
    font-size: 24px;
    font-weight: normal;
    width: 328px;
    height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.newscon1 p{
	color: #999999;
	font-size: 22px;
	width: 100%;
	height: 36px;
	overflow: hidden;
	margin-top: 22px;
	text-overflow: ellipsis;
}


/* news end */
/* footer */
.footer{
	background: #fafafa;
	margin-top: 40px;
	text-align: center;
    padding-bottom: 106px;
}
.footer>i>img{
	width: 120px;
	height: 120px;
	margin:20px auto;
}
.footer p{
	color: #999999;
	font-size: 20px;
}
.footernav {
	position: fixed;
	bottom: 0;
	background: rgba(255, 230, 64, 1);
	width: 640px;
	z-index: 999;
	box-shadow: 0px 0px 20px 0px rgba(255, 230, 64, .6);
	height: 80px;
}

.footernav ul {
	display: flex;
	justify-content: space-around;
}

.footernav li {
	padding: 10px 0;
}

.footernav li img {
	display: block;
	margin: auto;
}

.footernav li span {
	color: rgba(51, 51, 51, 1);
	font-size: 22px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* footer end */

#kefu-ball{
	background: rgba(255, 230, 64, 1);
	position: fixed;
	right: 0;
	bottom: 30%;
	border-radius: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px 0px rgba(255, 230, 64, .6);
}