@charset "utf-8";

/* CSS Document */

html {
	font-family:"微软雅黑";
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}

body {
	margin: 0 auto;
	font-size: 1.4rem;
	line-height: 1.5;
	color: #333333;
	width: 640px;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	background: #fbfbfb;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

svg:not(:root) {
	overflow: hidden;
}

a {
	background: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	color: #333;
}

a:active {
	outline: 0;
}

a:active {
	color: #333;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	vertical-align: middle;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	resize: vertical;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
	margin: 0;
}

ul,
ol,
li,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none outside none;
}

h1,
h2,
h3 {
	line-height: 2;
	font-weight: normal;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #cccccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #cccccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #cccccc;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

.empty {
	height: 20px;
	background: #fff;
	clear: both;
}

.clearfix {
	clear: both;
}


/*   头部      */

.header {
	padding: 20px;
	height: 130px;
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .1);
	margin-bottom: 40px;
}
.header .logo-img{
	width: 220px;
	float: left;
}
.header .logo-img img {
	margin: 10px auto;
	width: auto;
	height: 70px;
}

.header h1 {
	font-weight: bold;
	font-size: 30px;
}
.header .text{
	width: 380px;
	float: left;
}
.header p {
	background: url(../img/ding.png) no-repeat left center;
	line-height: 40px;width:308px;
text-align: center; font-size: 20px;
	color: #999;
}

.banner {
	width: 640px;
	overflow: hidden;
	margin: 0 auto;
}
.banner img{
	width: 100%;
	height: 100%;
	
}
.banner .swiper-slide{
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, .1);
}
.banner .swiper-container{
	width: 1500px;
	margin-left: -430px;
	padding-bottom: 50px;

}




.banner .swiper-pagination .swiper-pagination-bullet {
	width: 24px;
	height: 5px;
	border-radius: 0;
	margin: 0 5px;
	background: rgba(243, 64, 117, 1);
}



.nav {
	padding: 20px 0;
}

.nav ul {
	display: flex;
	flex-wrap: wrap;
}

.nav ul li {
	width: 25%;
	padding: 10px 0;
}

.nav ul li img {
	display: block;
	margin: 10px auto;
	background-color: rgba(243, 64, 117, 1);
	background-image: url(../img/nav_bg.png);
	background-position: center;
	background-size: 100% auto;
	border-radius: 50%;
	padding: 14px;
box-shadow: 0px 5px 30px rgba(0, 0, 0, .1);
}

.nav ul li span {
	padding: 0 10px;
	text-align: center;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #777777;
	font-size: 24px;
}

.menu-title {
	padding: 0 20px;
	height: 156px;
	background-color: rgba(243, 64, 117, 1);
	background-image: url(../img/nav_bg.png);
	background-position: center;
	background-size: 100% auto;
	position: relative;
	margin-bottom: 70px;
}
.menu-title .menu-cent{
	background: #fff;
	height: 155px;
	position: relative;
	top:50px;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, .2);
	width: 100%;
	text-align: center;
	color: #999;
	padding-top: 20px;
}
.menu-title .menu-cent h3 a {
	color: #666;
	font-size: 36px;
}
.menu-title .menu-cent p{
	font-size: 24px;
}
.menu-title .menu-cent span{
	display: block;
	color: rgba(243, 64, 117, 1);
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
}
.menu-title .more {
	float: right;
	line-height: 2;
	color: #666;
}

.menu-item {
	padding: 20px 0;
}
.menu-content{
	margin: 0 20px;
	
	
}
/*hot-pro*/
.hot-product .menu-content{
	margin-top: 100px;
	height: 440px;
	background: #fff;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, .1);
	border-radius: 10px;
	padding: 30px;
}
.hot-product .tj{
	position: relative;
	height: 150px;
	margin-bottom: 20px;
}
.hot-product .tj img{
width: 203px;
height: 162px;
float: left;
border-radius: 10px;
position: relative;
top: -60px;
box-shadow: 0px 5px 30px rgba(0, 0, 0, .1);
}
.hot-product .tj .text{
	width: 325px;
	float: left;
	margin-left: 12px;
}
.hot-product .tj .text h4 a{
	font-weight: bold;
	font-size: 28px;
	color: #666;
	overflow: hidden;
	height: 40px;
	display: block;
}
.hot-product .tj .text p{
	font-size: 22px;
	color: #999;
	line-height: 30px;
	height: 65px;
	overflow: hidden;
}
.hot-product .tj a.more{
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
	background-size: 100% auto;
	color: #fff;
	font-size: 20px;
	width: 66px;
	height: 66px;
	border-radius: 5px;
	padding: 13px;
	position: absolute;
	top: -60px;
	right: 0px;
	line-height: 22px;
}
.hot-product ul li{
	width: 168px;
	float: left;
	margin-left: 18px;
}
.hot-product ul li:nth-child(1){
	margin-left: 0;
}
.hot-product ul li img{
	width: 168px;
	height: 134px;
	border-radius: 3px;
box-shadow: 0px 5px 30px rgba(0, 0, 0, .1);
}
.hot-product ul li h4{
	font-size: 24px;
	font-weight: bold;
	color: #666;
	padding-left: 10px;
	border-left: solid 3px rgba(243, 64, 117, 1);
	margin-top: 20px;
	line-height: 28px;
	height: 28px;
	overflow: hidden;
}
.hot-product ul li p{
	font-size: 22px;
	color: #999;
	line-height: 40px;
	height: 40px;
	overflow: hidden;;
}


/*pro*/


.product-center .tabs {
	display: flex;
	margin-bottom: 20px;
	overflow: hidden;
}

.product-center .tabs a {
	padding: 4px 10px;
	color: #999999;
	font-size: 26px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 124px;
	text-align: center;
}



.product-center .tabs a.active {
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
	background-size: 100% auto;
	color: #fff;
	border-radius: 20px;
}

.product-center .tabs a.active:before {
	width: 100%;
}




.product-center .item {
	width: 290px;
	height: 320px;
	background: #fff;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, .1);
	border-radius: 5px;
	padding: 15px;
	float: left;
	display: block;
	margin-left: 20px;
	margin-bottom: 50px;
}
.product-center .item:nth-child(1),.product-center .item:nth-child(3){
	margin-left: 0;
}
.product-center .item .img {
	width: 260px;
	height: 175px;
	border-radius: 7px;
	overflow: hidden;

}

.product-center .item .img img {
	width: 100%;
	height: 100%;

}

.product-center .item h4 {
	font-size: 26px;
	color: #666;
	white-space: nowrap;
	font-weight: bold;
	line-height: 40px;
	padding-top: 20px;
	overflow: hidden;
}
.product-center .item p{
	font-size: 24px;
	color: #999;
	height: 40px;
	overflow: hidden;;
}
.product-center .item span{
	display: block;
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
    background-size: 100% auto;
    color: #fff;
	border-radius: 20px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
}


.product-cat {
	border-top: 4px solid rgba(50, 179, 255, 0.09);
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-bottom: 30px;
}

.product-cat a {
    color: #888888;
	font-size: 22px;
	min-width: 25%;
	padding: 5px 10px;
	border: 1px solid rgba(50, 179, 255, .09);
	background: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
}

.ys {
	position: relative;
	background: #fff;
}

.ys:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
    background-size: 100% auto;
	position: absolute;
	left: 0;
	top: 0;
}
.ys .ys-title{
	text-align: right;
	color: #fff;
	position: relative;
	z-index: 0;
	padding: 30px 20px 30px 0;
}
.ys .ys-title h3{
	font-size: 30px;
	font-weight: bold;
	line-height: 45px;
}
.ys .ys-title h3 span{
	font-size: 48px;
}
.ys .ys-title p{
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}
.ys .online {
	background: url(../img/ys.png) no-repeat 0 center;
	padding-left: 195px;
	position: absolute;
	right: 15px;
	top: 15px;
	color: #fff;
	font-size: 16px;
}

.ys .online p {
	font-size: 23px;
	font-weight: bold;
	line-height: 1;
}

.ys .online span {
	background: #fff;
	color: rgba(50, 179, 255, 1);
	padding: 2px 5px;
}

.ys .swiper-container {}

.ys .swiper-slide {
	border-radius: 7px;
	overflow: hidden;
}

.ys .swiper-slide .img {
	position: relative;
	padding-bottom: 20px;
	width: 550px;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	z-index: 2;
}

.ys .swiper-slide .img img {
	width: 550px;
	height: 300px;
	border-radius: 30px;
}

.ys .swiper-slide .info {
	background: #fff;
	padding: 50px 20px;
	padding-top: 180px;
	position: relative;
	margin-top: -150px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .6);
}

.ys .swiper-slide h4 {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #666;
}
.ys .swiper-slide h5{
	font-size: 16px;
	 color: #ccc;
	 text-transform: uppercase;
	 text-align: center;
	 margin-bottom: 20px;
}
.ys .swiper-slide p {
	color: #999;
	font-size: 22px;
}

.ys .swiper-pagination {
	width: 100%;
	position: relative;
	padding: 20px 0 0 0;
}

.ys .swiper-pagination .swiper-pagination-bullet {
	background: rgba(255, 255, 255, .8);
	width: 44px;
	height: 6px;
	border-radius: 3px;
}
.swiper-pagination-bullet-active{
	background: rgba(255, 255, 255, 1);
}
.tt {
	background: rgba(50, 179, 255, .025);
	padding: 20px 0;
	width: 525px;
	height: 232px;
	position: relative;
	background: #fff;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .2);
	border-radius: 10px;
	margin:20px 0;
	padding-left: 20px;
}
.tt img{
	position: absolute;
	right: -80px;
	top: 30px;
	width: 224px;
	height: 170px;
	border-radius: 10px;
box-shadow: 0px 5px 30px rgba(0, 0, 0, .1);
}
.tt h4 {
	font-size: 24px;
	color: rgba(243, 64, 117, 1);
	margin-top: 30px;
}

.tt p {
	font-size: 20px;
	color: #666;
}

.tt a {
	display: inline-block;
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
    background-size: 100% auto;
	border-radius: 100px;
	width: 350px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 20px;
	margin-top: 20px;
}



.case ul{
	margin-top: 110px;
}
.case li{
	position: relative;
	height: 188px;
	margin-bottom: 20px;
	margin-top: 55px;
	background: #fff;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, .1);
	border-radius: 10px;
	padding: 0 20px;
}

.case li img{
width: 261px;
height: 196px;
float: left;
border-radius: 10px;
position: relative;
top: -30px;
box-shadow: 0px 5px 30px rgba(0, 0, 0, .1);
}
.case li:nth-child(2) img{
	float: right;
	}
.case li .text{
	width: 280px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
.case li:nth-child(2) .text{
	float: right;
	margin-right: 15px;
	margin-left: 0;
}
.case li .text h4 a{
	font-weight: bold;
	font-size: 26px;
	color: #666;
	line-height: 60px;
	height: 60px;
	overflow: hidden;
	display: block;
}
.case li .text p{
	font-size: 24px;
	color: #999;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
}
.case li a.more{
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
	background-size: 100% auto;
	color: #fff;
	font-size: 18px;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	line-height: 40px;
	text-align: center;
	display: block;
	margin-top: 20px;
}

.about {
	position: relative;
	background: #fff;
}

.about:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
    background-size: 100% auto;
	position: absolute;
	left: 0;
	top: 0;
}

.about .menu-title a {
	color: #fff;
	position: relative;
	z-index: 2;
}

.about .menu-content {
	position: relative;
	z-index: 2;
}

.about .info {
	padding: 0 20px;
	padding-bottom: 10px;
	text-align: center;
	
}

.about .info h4 {
	padding: 20px 0;
}
.about .info h4 a{
	color: #fff;
	font-size: 28px;
	font-weight: bold;
}
.about .info p {
	height: 105px;
	line-height: 35px;
	overflow: hidden;
	color: #fff;
	font-size: 24px;
}

.about .img {
	width: 550px;
	height: 300px;
	margin: 0 auto;
}

.about .img img {
	width: 550px;
	height: 300px;
	border-radius: 20px;
}
.tt2{
	background: #fff;
	border-radius: 10px;
	padding-top: 230px;
	margin-top: -200px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.tt2 .tt2_cont{
	height:110px;
	width: 548px;
	border-radius: 55px;
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
	background-size: 100% auto; 
	color: #fff;
	margin: 0 auto;
	position: relative;
}
.tt2 .tt2_cont p{
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	padding-top: 10px;
	float: left;
	display: inherit;
}
.tt2 .tt2_cont span{
	background: url(../img/tt_tel.png) no-repeat 20px center;
	background-color: rgba(243, 64, 117, 1);
	display: block;
	width: 255px;
	height:33px;
	line-height: 33px;
	padding-left: 60px;
	float: left;
	border-radius: 17px;
	font-size: 24px;
	margin-top: 10px;
}
.tt2 img{
	float: left;
	margin-left: 40px;
	margin-right: 20px;
}
.tt2 .tt2_cont a{
	width: 95px;
	height: 95px;
	font-size: 24px;
	color: rgba(243, 64, 117, 1);
	font-style: italic;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 8px;
	right: 8px;
	font-weight: bold;
	padding:20px 17px;
	line-height: 30px;
	letter-spacing: 3px;
}



.news {
	padding-bottom: 50px;
}

.news .tabs {
	padding: 30px 20px;
}

.news .tabs a {
	position: relative;
	display: inline-block;
	width: 165px;
	margin: 0 15px;
	text-align: center;
	padding: 3px 0;
	font-size: 26px;
}

.news .tabs a.active {
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
    background-size: 100% auto;
    color: #fff;
    border-radius: 40px;
}

.news .tabs a i {
	display: block;
	opacity: 0;
	width: 45px;
	height: 53px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	transform: rotateZ(180deg);
	-webkit-transform: rotateZ(180deg);
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.news .tabs a i:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	left: -45px;
	border-right: 20px solid transparent;
	-webkit-filter: drop-shadow(rgb(50, 179, 255) 45px 0px);
	filter: drop-shadow(rgb(50, 179, 255) 45px 0px);
	background: url(../img/news-ico.png) no-repeat center center;
}

.news .tabs a.active i {
	opacity: 1;
	transform: rotateZ(0);
	-webkit-transform: rotateZ(0);
}

.news .tabs a:before {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	bottom: 5px;
	width: 0px;
	height: 2px;
	margin-left: 0px;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.news .tabs .active:before {
	width: 40px;
	margin-left: -20px;
}
.news ul{
	margin-top: 20px;
}
.news li{
	position: relative;
	height: 170px;
	margin-bottom: 40px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, .1);
	padding: 20px;
}
.news li img{
width: 172px;
height: 129px;
float: left;
border-radius: 10px;
}
.news li .text{
	width: 368px;
	float: left;
	margin-left:30px;
}
.news li .text h4 a{
	width: 300px;font-weight: bold;
	font-size: 26px;
	color: #666;
	display: block;
	height: 40px;
	overflow: hidden;
}
.news li .text p{
	font-size: 22px;
	color: #999;
	line-height: 36px;
	height: 80px;
	overflow: hidden;
}
.news li a.more{
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
	background-size: 100% auto;
	color: #fff;
	font-size: 20px;
	width: 66px;
	height: 66px;
	border-radius: 5px;
	padding: 13px;
	position: absolute;
	top: -20px;
	right: 20px;
	line-height: 22px;
}

.footer {
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
    background-size: 100% auto;
	height: 220px;
	position: relative;
	margin-bottom: 90px;
}



.footer .info {
	background: #fff;
	padding: 30px;
	display: flex;
	position: relative;
	top: -50px;
	height: 240px;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, .1);
}

.footer .info p {
	margin-left: 30px;
	font-size: 22px;
	color: #999;
	line-height: 32px;
}

.footer .info .qrcode {
	width: 134px;
	height: 134px;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, .1);
}

.footer .info .qrcode img {
	width: 134px;
	height: 134px;
}

.footer-bar {
	position: fixed;
	bottom: 0;
	background: #fff;
	width: 640px;
	z-index: 999;
	box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.05);
}

.footer-bar ul {
	display: flex;
	justify-content: space-around;
}

.footer-bar li {
	/* width: 25%; */
	padding: 10px 0;
}

.footer-bar li img {
	display: block;
	margin: auto;
}

.footer-bar li span {
	color: #888;
	font-size: 22px;
}
.footer-bar li.active span{
    color: rgba(243, 64, 117, 1);
}
#kefu-ball{
	background-color: rgba(243, 64, 117, 1);
    background-image: url(../img/nav_bg.png);
    background-position: center;
    background-size: 100% auto;
	position: fixed;
	right: 0;
	bottom: 30%;
	border-radius: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px 0px rgba(243, 64, 117, .6);
}
