@charset "utf-8";

/* CSS Document */

html {
	font-family:"Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}

body {
	margin: 0 auto;
	font-size: 1.4rem;
	line-height: 1.5;
	color: #333333;
	background-color: white;
	width: 640px;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

svg:not(:root) {
	overflow: hidden;
}

a {
	background: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	color: #333;
}

a:active {
	outline: 0;
}

a:active {
	color: #333;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	vertical-align: middle;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	resize: vertical;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

html,
button,
input,
select,
textarea {
	font-family: "Helvetica Neue",Helvetica,Roboto,Segoe UI,Arial,sans-serif;
	background: #e6f7fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
	margin: 0;
}

ul,
ol,
li,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none outside none;
}

h1,
h2,
h3 {
	line-height: 2;
	font-weight: normal;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #cccccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #cccccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #cccccc;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

.empty {
	height: 20px;
	background: #fff;
	clear: both;
}

.clearfix {
	clear: both;
}
.lf {
	float: left;
}
.rt {
	float: right;
}

/*header*/
.header { background: rgba(60, 171, 250, 1); height: 275px; padding: 20px 10px; }
.header .logo-img img { margin: 10px auto; width: auto; height: 70px; }
.header .logo-word { margin: 18px 0 0 10px; }
.header .logo-word h1 { font-weight: bold; font-size: 30px; color: #fff; line-height: 30px; }
.header .logo-word p { color: #fff; font-size: 20px; }

/*banner*/
.banner { position: relative; z-index: 1; margin-top: -150px; }
.banner .swiper { width: 640px; margin: 0 auto; position: relative; }
.current-swiper { width: 610px; height: 300px; border-radius: 15px; margin: 0 auto; box-shadow: 1px 0 30px rgba(0, 0, 0, 0.05); position: relative; z-index: 99; }
.banner .swiper img { width: 100%; height: 100%; }
.banner .swiper-pagination { width: 100%; }
.banner .swiper-pagination .swiper-pagination-bullet { width: 24px; height: 5px; border-radius: 0; margin: 0 5px; background: rgba(50, 179, 255, 1); }

/*nav*/
.nav { padding: 20px 0; border-bottom: 30px solid rgba(60, 171, 250, 0.1); }
.nav ul { display: flex; flex-wrap: wrap; }
.nav ul li { width: 25%; padding: 10px 0; }
.nav ul li img { display: block; margin: 10px auto; }
.nav ul li span { padding: 0 10px; text-align: center; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #777777; font-size: 26px; }

/*title*/
.menu-title { padding: 10px 0 20px;}
.menu-title h3 a { font-size: 30px; color: rgba(60, 171, 250, 1);}
.menu-title h3 a span { color: rgba(229,229,229, 1); padding-left: 6px;}
.menu-title .more { line-height: 2; color: #808080; font-size: 16px; margin-top: 14px; }
.menu-item { padding-top: 20px;}

/*hot*/
.hot-product .menu-content { padding: 0 0 50px 15px; border-bottom: 30px solid rgba(60, 171, 250, 0.1); }
.hot-product .menu-content .swiper-container { margin-right: 15px; }
.hot-product .menu-content .swiper-slide { width: 304px; height: 200px; position: relative; }
.hot-product .menu-content .swiper-slide img { width: 100%; height: 100%; }
.hot-product .menu-content .swiper-slide .info { background: rgba(60, 171, 250, 1); padding: 10px; position: absolute; left: 0; bottom: 10px; }
.hot-product .menu-content .swiper-slide .info h4 { font-size: 22px; color: #fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.hot-product .menu-content .last-slide { width: 95px; }
.hot-product .menu-content .last-slide .icon { width: 25px; height: 25px; background: url(../img/more-icon.png) no-repeat center 50%/100% 100%; display: block; float: left;
	margin-top: 100px; }
.hot-product .menu-content .last-slide .text { width: 21px; font-size: 21px; margin-left: 10px; line-height: 1.5; float: left; margin-top: 15px; }

/*product*/
.product-center .product-list { background: rgba(60, 171, 250, 1); margin-bottom: 20px; padding:0 15px; display: flex;}
.product-center .product-list a { color: #fff; padding:10px; font-size:20px; position:relative; display:block; width:120px; white-space:nowrap; overflow:hidden; text-align:center;
	text-overflow: ellipsis;}
.product-center .product-list a.swiper-slide-active { background:url("../img/icon1.png") no-repeat center 40px; }
.product-center .product-content { height: 270px; }
.product-center .swiper-slide { display: flex; }
.product-center .item { width: 295px; box-shadow: 1px 0 30px rgba(0, 0, 0, 0.05); height: 250px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
.product-center .item .img { width: 295px; height: 200px; border-top-left-radius: 10px; border-top-right-radius: 10px; overflow: hidden; }
.product-center .item .img img { width: 100%; height: 100%; }
.product-center .item h4 { text-align: center; font-size: 18px; font-weight: normal; color: rgba(60, 171, 250, 1); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
	line-height: 50px;}
.product-center .item:first-child { margin-right: 20px; margin-left: 15px; }

/*ad1*/
.ad1 { background: rgba(60, 171, 250, 0.1); margin: 30px 0 0; text-align: center; padding: 30px 0;}
.ad1 h4 { color: rgba(60, 171, 250, 1); font-size: 30px; }
.ad1 .tel { text-align: center; }
.ad1 .tel h5 { display: inline-block; font-size: 28px; color: #808080; font-family: Times New Roman; font-weight: normal; }
.ad1 .tel a { display: inline-block; font-size: 18px; color: rgba(60, 171, 250, 1); background-color: #fff; padding: 3px 30px; box-shadow: 1px 0 30px rgba(0, 0, 0, 0.05); }

/*case*/
.case { position: relative; margin: 0 auto; border-bottom: 30px solid rgba(60, 171, 250, 0.1); padding-bottom: 40px; }
.case .swiper-container { padding-bottom: 12px; }
.case .swiper-slide { width: 365px; background: #fff; box-shadow: 0 5px 15px rgba(60, 171, 250, .2); border-radius: 10px; }
.case .swiper-slide img { display: block; width: 100%; height: 100%; border-top-left-radius: 10px; border-top-right-radius: 10px; }
.case .swiper-slide h4 { padding: 10px 0; font-size: 18px; font-weight: normal; position: relative; z-index: 9; color: #808080; text-align: center; width:100%;white-space: nowrap;
	overflow: hidden; text-overflow: ellipsis; }

/*ys*/
.ys { position: relative; border-bottom: 30px solid rgba(60, 171, 250, 0.1); padding-bottom: 30px; }
.ys .menu-title h3 a { color: rgba(60, 171, 250, 1); font-size: 30px; position: relative; z-index: 0; padding-left: 15px; }
.ys .online { position: absolute; right: 15px; top: 41px; }
.ys .online p { font-size: 30px; color: #b2b2b2; font-family: Times New Roman; }
.ys .online span { background: #fff; color: rgba(60, 171, 250, 1); padding: 2px 20px; font-size: 16px; box-shadow: 1px 0 30px rgba(60, 171, 250, 0.05);  margin: 8px 0 0 10px;}
.ys .swiper-slide { background-color: #fff; box-shadow: 1px 0 30px rgba(0, 0, 0, 0.05); width: 100%; height: 220px; margin-top: 50px; }
.ys .swiper-slide .img { width: 231px; height: 301px; border-right: 10px; position: absolute; right: 15px; top:-42px;  }
.ys .swiper-slide .img img { width: 100%; height: 100%; border-radius: 10px;}
.ys .swiper-slide .info { width: 57%; padding-left: 15px; }
.ys .swiper-slide h4 { font-size: 26px; font-weight: normal; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding: 25px 0 5px; }
.ys .swiper-slide p { color: #808080; font-size: 18px; line-height: 30px; height: 120px; overflow: hidden; }
.ys .swiper-pagination { width: 100%; position: relative; padding: 50px 0 0 0; }
.ys .swiper-pagination .swiper-pagination-bullet { background: rgba(60, 171, 250, 1); }

/*witness*/
.witness { margin-top: 20px; position: relative; height: 440px;}
.witness .list .li1 { background: url("../img/icon2.png") no-repeat center; width: 549px; height: 151px; position: absolute; right: 15px; top:110px;
	filter: drop-shadow(1px 0 10px rgba(60, 171, 250, 0.2)); }
.witness .list .li2 { background: url("../img/icon3.png") no-repeat center; width: 549px; height: 151px; position: absolute; left: 15px; top:290px;
	filter: drop-shadow(1px 0 10px rgba(60, 171, 250, 0.2)); }
.witness .pic { width: 103px; height: 103px; margin: 11px;}
.witness .pic img { width: 100%; height: 100%; border-radius: 50%;}
.witness .word { width: 380px; margin: 30px 10px 0;}
.witness .word h4 { font-size: 22px; color:rgba(60, 171, 250, 1); width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.witness .word p { font-size: 18px; color:#808080; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;  }

/*about*/
.about { position: relative; height: 300px; margin-top: 40px; }
.about:after { content: ''; display: block; width: 100%; height:220px; background: rgba(60, 171, 250, 1); position: absolute; left: 0; top: 80px; }
.about .menu-title a { position: absolute; z-index: 2; right: 35px; top:20px; }
.about .menu-content { position: relative; z-index: 2; }
.about .info { width: 358px; position: absolute; right:0; top:59px; }
.about .info p { height: 108px; line-height: 36px; overflow: hidden; color: #fff; font-size: 18px; margin-bottom: 10px;}
.about .info a { background-color: #fff; padding: 6px 15px; color:rgba(60, 171, 250, 1); font-size: 18px; border-radius: 30px; }
.about .img { width: 225px; height: 271px; box-shadow: 1px 0 20px rgba(60, 171, 250, .2); position: absolute; left: 0; top:-40px;}
.about .img img { width: 100%; height: 100%; border-radius: 7px; }

/*news*/
.news { padding-bottom: 50px; }
.news .tabs { padding: 5px 15px; margin-bottom: 10px; border-bottom: 1px solid #f2f2f2; }
.news .tabs a { margin-right: 20px; position: relative; display: inline-block; padding: 10px 0 20px; font-size: 22px; top:10px; transition: .5s;}
.news .tabs a.active { color: rgba(50, 179, 255, 1); font-size: 30px; }
.news .tabs a:before { content: ''; display: block; position: absolute; left: 0; bottom: 5px; width: 0; height: 2px; margin-left: 0; background: rgba(50, 179, 255, 1);
	-webkit-transition: all .3s ease-out; transition: all .3s ease-out; }
.news .tabs .active:before { width: 100%; }
.news .news-top { box-shadow: 1px 0 20px rgba(60, 171, 250, .2); border-radius: 10px; margin: 20px 15px 10px; }
.news .news-top .pic img { border-top-left-radius: 10px; border-top-right-radius: 10px; width: 100%; height: 374px;}
.news .news-top .word { padding: 20px;}
.news .news-top .word h4 { font-size: 18px; color: #808080; font-weight: normal; width: 80%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.news .news-top .word span { font-size: 18px; color: #808080; font-weight: normal;}
.news .items { margin: 0 15px; padding: 20px; box-sizing: border-box; border-bottom: 1px solid #e5e5e5; }
.news .items .img img { width: 147px; height: 100px; }
.news .items .info { width: 395px; }
.news .items h4 { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #666;}
.news .items p { font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #808080; }
.news .items span { font-size: 18px; color: #ccc; }

/*footer*/
.footer { position: relative; text-align: center; }
.footer:after { content: ''; display: block; width: 100%; height: 357px; background: rgba(60, 171, 250, 1); position: absolute; left: 0; top: 80px; }
.footer .qrcode { position: relative; z-index: 1; margin-bottom: 20px; height: 150px; }
.footer .qrcode img { width: 150px; height: 150px; padding: 10px; border-radius: 10px; box-shadow: 1px 0 20px rgba(60, 171, 250, .2);  background-color: #fff; }
.footer .info { position: relative; z-index: 1; }
.footer .info p { font-size: 20px; color: #fff; }
.footer .info p a { color: #fff; }
.footer-bar { position: fixed; bottom: 0; background: url("../img/footer-bar.png"); height: 104px; width: 640px; z-index: 999; }
.footer-bar ul { display: flex; justify-content: space-around; margin-top: 20px; }
.footer-bar li { padding: 10px 0; }
.footer-bar li img { display: block; margin: auto; }
.footer-bar li span { color: #333; font-size: 18px; }

#kefu-ball{
	background: rgba(50, 179, 255, 1);
	position: fixed;
	right: 0;
	bottom: 30%;
	border-radius: 50%;
	z-index: 99999;
	box-shadow: 0 0 20px 0 rgba(50, 179, 255, .6);
}
