@charset "utf-8";

/* CSS Document */

html {
	font-family:"Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}
body {
	margin: 0 auto;	color: #333333;
	background-color: white;
	width: 640px;	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
a {	background: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	color: #333;}
a:active {	outline: 0;}
a:active {	color: #333;}
h1,h2,h3,h4,h5,h6,p,figure,form,blockquote {margin: 0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }
ul,ol,li,dl,dd {	margin: 0;	padding: 0;}
ul,ol {	list-style: none outside none;}
h1,h2,h3 {	font-weight: normal;}
.clear{clear:both;}



/* head */
.shead{ height: 180px; background-color: rgba(0, 150, 255, 1); }

.shead_l{ float: left; width: 80px; height: 80px; background: #FFF; border-radius: 50%; padding: 5px; overflow: hidden; margin: 34px 0 0 20px; }
.shead_l img{ width: 80px; height: 80px;  }

.shead_r{ float: left; width: 510px; height: 90px; padding: 38px 0 0 10px;  text-align: left; }

.kshead_r{  width: 100%; height: 90px; padding: 38px 0 0 0; text-align: center; }

.shead_r_1{ height: 50px; line-height: 50px; font-size: 36px; color: #FFF; }
.shead_r_2{ height: 30px; line-height: 30px; font-size: 22px; color: #FFF; }





.shead_tel{ width: 600px; height: 50px; line-height: 50px; background: #FFF; margin: 0 auto; margin-top: 25px; border-radius: 25px; box-shadow: 0 7px 7px 0px rgba(0, 150, 255, 0.08); font-size: 24px; text-align: center; }
.shead_tel span{ color: rgba(0, 150, 255, 1); font-weight: bold; font-size: 28px; }

.shead_gg{ height: 65px; }


/* banner kaishi */
#certify {
	position: relative;
	width: 640px;
	margin: 0 auto; 
}

#certify .swiper-container {
	padding-bottom: 30px;
}

#certify  .swiper-slide {
	width: 578px;
	height: 308px;	
	box-shadow: 0 8px 8px 0px rgba(0, 150, 255, 0.05); border-radius: 10px; border: 1px solid #FFF;
}
#certify  .swiper-slide img{
	display:block;  width: 578px; height: 308px; border-radius: 10px;
}

#certify .swiper-pagination {
	width: 100%;
	bottom: 0px;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;	
	background-color: #cbcbcb;
	width: 14px;
	height: 5px;
	opacity: 1; border-radius: 0;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
	background-color: #0096ff;
}

/* banner jieshu */


.inmenu{ padding: 25px 0 25px 0; }

.inmenu_a{ float: left; width: 23%; height: 70px; line-height: 70px; font-size: 22px; border-radius: 8px; text-align: center; margin: 15px 1% 0 1%; background-color: rgba(0, 150, 255, 1); box-shadow: 0 8px 8px 0px rgba(0, 150, 255, 0.1); overflow: height;  }
.inmenu_a a{ display: block; color: #FFF; height: 70px; line-height: 70px; overflow: height;   }



.incp{ padding-top: 20px; padding-bottom: 20px;  }

.incp_t{ height: 80px; }

.incp_t1{ width: 170px; height: 42px; line-height: 42px; font-size: 32px; font-weight: bold; text-align: center; margin: 0 auto; position: relative; }
.incp_t1 a{ display: block; color: rgba(0, 150, 255, 1);  }

.incp_t1 h5{ width: 8px; height: 8px; border-radius: 50%; position: absolute; left: 0px; top: 18px; z-index: 5; background-color: rgba(0, 150, 255, 1); }
.incp_t1 h6{ width: 8px; height: 8px; border-radius: 50%; position: absolute; right: 0px; top: 18px; z-index: 5; background-color: rgba(0, 150, 255, 1); }

.incp_t1xl{ width: 240px; height: 1px;  border-bottom: 1px solid rgba(0, 0, 0, 0.13);  position: absolute; right: 165px; top: 20px; z-index: 3; }
.incp_t1xr{ width: 240px; height: 1px;  border-bottom: 1px solid rgba(0, 0, 0, 0.13);  position: absolute; left: 165px; top: 20px; z-index: 3; }

.incp_t2{ height: 30px; font-size: 22px; text-align: center; text-transform:uppercase; color: #999; }

/* yuan infl */
.infl{ height: 60px; padding:10px 5px 20px 5px; }
.infl .swiper-container {
        width: 100%;
        height: 60px;  padding-bottom: 20px; overflow: hidden;
    }
.infl .swiper-slide {
        text-align: center;
        font-size: 22px;
        background: #fff; line-height: 60px; padding: 0 16px; 
		
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
		box-shadow: 0 7px 7px 0px rgba(0, 150, 255, 0.08); border-radius: 5px; border: 1px solid rgba(0, 150, 255, 0.15);
    }
.infl .wid1 { width: auto; margin-right: 15px; }



.incplb{ }

.incp_1{ float:left; width:292px; height:260px; margin:20px 14px 10px 14px;  }
.incp_1pic{ width:292px; height:220px; border-radius: 8px;  border: 1px solid #FFF; box-shadow: 0 8px 8px 0px rgba(0, 150, 255, 0.08); }
.incp_1pic img{ width: 292px;  height:220px; border-radius: 8px; display: block;   }

.incp_1tite{ height:40px; line-height:40px; font-size: 22px;  text-align:center;  margin-top:5px; overflow: hidden;  }
.incp_1tite a{ display:block;  }

.chanpin{ margin-top: 15px; padding-bottom: 10px;  }

.chanpin .product-tabs  { padding-bottom: 15px; }

.chanpin .product-tabs .swiper-slide { width: auto;
        text-align: center;
        font-size: 22px;
        background: #fff; line-height: 60px; padding: 0 20px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
		box-shadow: 0 7px 7px 0px rgba(0, 150, 255, 0.08); border-radius: 5px; border: 1px solid rgba(0, 150, 255, 0.15);
    }
.chanpin .selected a{ 	color:rgba(0, 150, 255, 1); }



.incp_more{ width: 170px; height: 50px; line-height: 50px; font-size: 22px; border-radius: 8px; text-align: center; margin: 0 auto; margin-top: 20px;  background-color: rgba(0, 150, 255, 1); 
box-shadow: 0 8px 8px 0px rgba(0, 150, 255, 0.1);  }
.incp_more a{ display: block; color: #FFF;  }


.inbanner{ height: 156px; margin: 0 14px; border-radius: 8px; background-color: rgba(0, 150, 255, 1); }

.inbanner_r{  height: 90px; margin: 38px 0 0 0; }

.inbanner_r_1{ height: 50px; line-height: 50px; font-size: 30px; color: #FFF; text-align: center; padding-top: 20px; }
.inbanner_r_2{ height: 40px; line-height: 40px; font-size: 24px; color: #FFF; text-align: center; }

.inbanner_tel{ width: 560px; height: 50px; line-height: 50px; background: #FFF; margin: 0 auto; margin-top: 38px; border-radius: 25px; box-shadow: 0 7px 7px 0px rgba(0, 150, 255, 0.08); font-size: 24px; text-align: center; }
.inbanner_tel span{ color: rgba(0, 150, 255, 1); font-weight: bold; font-size: 28px; }

.inbanner_gg{ height: 70px; }


.youshi_ss{ background: #FFF; padding-top: 35px; box-shadow: 0 -7px 7px 0px rgba(0, 150, 255, 0.08); }
.youshi{ background: #FFF;   box-shadow: 0 7px 7px 0px rgba(0, 150, 255, 0.08); }

.youshi_t{ height: 100px;  }

.youshi_t1{ height: 60px; line-height: 60px; text-align: center; color: #c7c7c7; opacity: 0.35; text-transform:uppercase; font-size: 60px; font-family: Arial; font-weight: bold; }

.youshi_t2{  height: 54px; line-height: 54px;  font-size: 48px; font-weight: bold; text-align: center; margin-top: -40px; opacity: 1; position: relative; z-index: 10; color: rgba(0, 150, 255, 1); }
.youshi_t3{  height: 30px; line-height: 30px;  font-size: 24px;  text-align: center;  color:#999; }

.youshi_pro{ height: calc(575px + 150px);  margin-top: 30px; position: relative; }


.youshi_pro_1, .youshi_pro_a, .youshi_pro_b, .youshi_pro_c{  height: 575px; background: #FFF;  box-shadow: 0px 0px 8px rgba(0, 150, 255, 0.15); border-radius: 8px; border: 1px solid #f6f6f6;  }

.youshi_pro_1{ width: 560px; position: absolute; left: 40px; top: 30px; z-index: 10; }
.youshi_pro_a{ width: 620px; position: absolute; left: 10px; top: 0px; z-index: 3;  }
.youshi_pro_b{ width: 600px; position: absolute; left: 20px; top: 10px; z-index: 4; }
.youshi_pro_c{ width: 580px; position: absolute; left: 30px; top: 20px; z-index: 5; }

.youshi_nr{ padding: 15px 15px 0 15px;  }
.youshi_nrpic{ width: 530px; height: 330px; }
.youshi_nrpic img{ width: 530px; height: 330px; border-radius: 8px; }

.youshi_nrtt{ height: 40px; line-height: 40px; font-size: 30px; text-align: center; margin-top: 18px; color: rgba(0, 150, 255, 1); }
.youshi_nrt{ height:auto; line-height: 36px; overflow: hidden; font-size: 22px; margin-top: 10px; color: #555; }

.youshi_pro_1 .swiper-container {  width: 100%;   height: 100%;  }
.youshi_pro_1 .swiper-slide {  overflow: hidden;   }

.youshi_pro_1 .swiper-pagination {
	width: 100%;
	bottom: -70px;
}

.youshi_pro_1 .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 8px;	
	background-color: #b1b1b1;
	width: 30px;
	height: 30px; line-height: 30px; color: #FFF; font-size: 22px;
	opacity: 1; border-radius: 50%;
}

.youshi_pro_1 .swiper-pagination-bullets .swiper-pagination-bullet-active {
	background-color: #0096ff;
}





.inal_xx{ padding-top: 50px; }

.inal{ padding-top: 10px;  }

.inal .swiper-container { position: relative;
      width: 100%;      
      padding-bottom: 70px;
    }
.inal .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 300px;  position: relative; background:none; box-shadow: 0 7px 7px 0px rgba(0, 150, 255, 0.08);
    }
.inal .swiper-slide img{ width: 400px; height: 300px; }	

.inal .swiper-slide h6{ width: 100%; height: 30px; line-height: 30px; text-align: center; font-size: 22px; overflow: hidden; position: absolute; left: 0px; bottom: -45px;}

.inal .swiper-pagination {
	width: 100%;
	bottom: 0px;
}
.inal .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;	
	background-color: #b1b1b1;
	width: 14px;
	height: 5px;
	opacity: 1; border-radius: 0; 
}
.inal .swiper-pagination-bullets .swiper-pagination-bullet-active {
	background-color: #0096ff;
}


.sabout{ margin-top: 45px;  }

.sabout_t{ height: 156px; background-color: rgba(0, 150, 255, 1); box-shadow: 0 8px 8px 0px rgba(0, 150, 255, 0.12); }

.sab_t{ height: 80px; padding-top: 25px; }

.sab_t1{ width: 170px; height: 42px; line-height: 42px; font-size: 32px; font-weight: bold; text-align: center; margin: 0 auto; position: relative; }
.sab_t1 a{ display: block; color:#FFF;  }

.sab_t1 h5{ width: 8px; height: 8px; border-radius: 50%; position: absolute; left: 0px; top: 18px; z-index: 5; background-color:#FFF; }
.sab_t1 h6{ width: 8px; height: 8px; border-radius: 50%; position: absolute; right: 0px; top: 18px; z-index: 5; background-color: #FFF; }

.sab_t1xl{ width: 240px; height: 1px;  border-bottom: 1px solid rgba(255, 255, 255, 0.25);  position: absolute; right: 165px; top: 20px; z-index: 3; }
.sab_t1xr{ width: 240px; height: 1px;  border-bottom: 1px solid rgba(255, 255, 255, 0.25);  position: absolute; left: 165px; top: 20px; z-index: 3; }

.sab_t2{ height: 30px; font-size: 22px; text-align: center; text-transform:uppercase; color: #FFF; }


.sabout_pro{ width: 580px; height: 620px; margin: 0 auto; background: #FFF; border-radius: 8px; margin-top: -45px; box-shadow: 0 0 10px rgba(0, 150, 255, 0.15); }
.sabout_nr{ padding: 10px;  }
.sabout_nrpic{ width: 560px; height: 300px; }
.sabout_nrpic img{ width: 560px; height: 300px; border-radius: 8px; }
.sabout_nrt{ height: 180px; line-height: 36px; overflow: hidden; font-size: 22px; margin-top: 20px; color: #555; }


.inews{ margin-top: 45px; padding-bottom: 30px;  }


.inews #tabs-container {
	height:auto;
}
.inews .tabs {	
	width:100%;
	height:65px;
	overflow:hidden; padding-top: 10px;
}
.inews .tabs dd {	
	text-align:center;
	float:left;
	width:185px;
	height:50px;
	line-height:50px; font-size: 24px;
	color:#333; background: #FFF; border-radius: 25px; margin: 0 14px; box-shadow: 0 0 10px rgba(0, 150, 255, 0.2);	
}
.inews .tabs dd a{ color:#333; }

.inews .tabs dd.active {	
	background:rgba(0, 150, 255, 1);	
	color:#fff;
	box-shadow: 0 8px 8px 0px rgba(0, 150, 255, 0.12);
}
.inews .tabs dd.active a{ color:#FFF; }


.inews_pro{ }


.inews_1{ float:left; width:292px; height:260px; margin:20px 14px 0 14px;  }
.inews_1pic{ width:292px; height:190px; border-radius: 6px;  border: 1px solid #FFF; box-shadow: 0 8px 8px 0px rgba(0, 150, 255, 0.08);  }
.inews_1pic img{ width: 292px;  height:190px; border-radius: 6px; display: block;  }

.inews_1tite{ height:40px; line-height:40px; font-size: 22px;  text-align:center;  margin-top:5px; overflow:hidden ;}
.inews_1tite a{ display:block;  }

.in_news{ height: 140px; background: #FFF; border-radius: 6px; margin: 0 14px 40px 14px; box-shadow: 0 8px 8px 0px rgba(0, 150, 255, 0.08);}

.in_news_l{ float:right; width:150; height:114px;  margin:12px 10px 0 0;   }
.in_news_laa{ width:150px; height:114px; border-radius: 6px; }
.in_news_laa img{ width:150px; height:114px; display: block; border-radius: 6px; }

.in_news_r{ float:left; width:415px;  }

.in_news_r1{ margin: 20px 0 0 18px;   }
.in_news_r1 h6{ height:34px; line-height:34px; font-size:22px;  overflow:hidden;   }
.in_news_r1 h6 a{ color:#222; }
.in_news_r1 h5{ height:34px; line-height:34px; font-size:20px;  color:#c4c4c4; overflow:hidden;  }
.in_news_r1 h4{ height:34px; line-height:34px; font-size:20px;  color:#999; overflow:hidden;   }



.wapsbo{ background: #FFF;  margin: 0 0 0 0; padding: 50px 0 110px 0; position: relative; box-shadow: 0 -8px 8px 0px rgba(0, 150, 255, 0.08); }

.webq_bottom_3{  margin-left:20px; color:#666; font-size:22px;  }
.webq_bottom_3 ul li{ width: 430px; line-height:30px; padding:6px 0 6px 30px;   }
.webq_bottom_3 ul li a{ color:#666; }

.webq_btb_1{ background:url(../img/b_tubiao_1.png) no-repeat left;  background-size: 22px;  }
.webq_btb_2{ background:url(../img/b_tubiao_2.png) no-repeat left;  background-size: 22px;  }
.webq_btb_3{ background:url(../img/b_tubiao_3.png) no-repeat left;  background-size: 22px;  }
.webq_btb_4{ background:url(../img/b_tubiao_4.png) no-repeat left;  background-size: 22px; height: 30px;  }

.webq_bottom_3 ul li i{ float:left; font-style: normal;  }
.webq_bottom_3 ul li b{ float:left; height:24px; margin:3px 0 0 15px; }
.webq_bottom_3 ul li b img{ float: left; height:24px; }

.webq_bottom_ewm{ width: 110px; height: 110px; padding: 10px; position: absolute; right: 10px; top: 50px; font-size: 22px; text-align: center; }
.webq_bottom_ewm img{ width: 110px; height: 110px;  }


.webq_bottom_top{ width: 50px; height: 50px; border-radius: 50%; background: url(../img/b_tubiao_top.png) no-repeat center rgba(0, 150, 255, 1); position: absolute; left: 50%; top: -25px; margin-left: -25px;}

.ssbq_bottxx{ width:100%; height:85px; position:fixed; left: 0px; bottom:0;  z-index:10; background:rgba(0, 150, 255, 1); box-shadow: 0 -8px 8px 0px rgba(0, 150, 255, 0.08); }

.ssbq_bottxx li{ float:left; width:25%; height:85px; font-size:22px; text-align:center; color:#fff; position:relative;  background:url(../img/footer_b.png) repeat-y right;}

.ssbq_bottxx li em{  height:34px; height: 45px; display:block; margin:0 auto; }

.ssbq_bottxx li img{ width:31px; height: 31px; margin-top: 12px; }

.ssbq_bottxx li a{ color:#fff; }


#kefu-ball{ width: 70px; height: 70px;	
	position: fixed;
	right: 15px;
	bottom: 25%;
	border-radius: 50%;
	z-index: 99999;
	background: rgba(0, 150, 255, 1);
	box-shadow: 0px 0px 20px 0px rgba(0, 150, 255, 0.6);
}
#kefu-ball img{ width: 70px; height: 70px;}



.animated_1 { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;  animation-delay:0.5s; }

.animated_2 { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; animation-delay:1.5s; }

.animated_3 { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; animation-delay:2s; }

.animated_4 { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; animation-delay:0.1; }







