@charset "utf-8";

/* CSS Document */

html {
	font-family:"微软雅黑";
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}

body {
	margin: 0 auto;
	font-size: 1.4rem;
	line-height: 1.5;
	color: #333333;
	background-color: white;
	width: 640px;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

svg:not(:root) {
	overflow: hidden;
}

a {
	background: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	color: #333;
}

a:active {
	outline: 0;
}

a:active {
	color: #333;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	vertical-align: middle;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code,
kbd,
pre,
samp {
	font-family:"微软雅黑";
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	resize: vertical;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

html,
button,
input,
select,
textarea {
	font-family:"微软雅黑";
	background: #e6f7fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
	margin: 0;
}

ul,
ol,
li,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none outside none;
}

h1,
h2,
h3 {
	line-height: 2;
	font-weight: normal;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #cccccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #cccccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #cccccc;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

.empty {
	height: 20px;
	background: #fff;
	clear: both;
}

.clearfix {
	clear: both;
}


/*   头部      */

.header {
	padding: 28px 0px;
	text-align: center;
	margin: 0 auto;
}

.header .logo-img img {
	margin: 10px auto;
	width: auto;
	height: 93px;
	float: left;
	margin-left: 64px;
}

.header h1 {

margin-bottom: 5px; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;

font-size: 22px;

margin-top:12px; color: #999;
}

.header p {

	color: #333;
	float: left;
	font-size: 28px;
	margin-left: 24px;
	margin-top: 18px;
}
.header i{ display: block; color: #999; font-style: normal; float: left; padding-top: 2px; font-size:17px; padding-left: 25px; text-transform: uppercase;}
.banner {
	padding-bottom: 80px;
}

.banner .swiper {
	width: 640px;
	margin: 0 auto;
	position: relative;
}

.banner .swiper:before {
	content: '';
	display: block;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	width: 580px;
	height: 15px;
	position: absolute;
	bottom: -15px;
	left: 50%;
	z-index: 3;
	margin-left: -290px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	opacity: .6;
}

.current-swiper {
	width: 580px;
	height: 272px;
	border-radius: 15px;
	margin: 0 auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
	position: relative;
	z-index: 99;
}

.left-swiper {
	position: absolute;
	left: 0;
	right: auto;
	top: 50%;
	z-index: 1;
	margin-top: -115px;
}

.right-swiper {
	position: absolute;
	right: 0;
	left: auto;
	top: 50%;
	z-index: 1;
	margin-top: -115px;
}

.nocurrent-swiper {
	width: 490px;
	height: 230px;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.banner .swiper img {
	width: 100%;
	height: 100%;
}

.banner .swiper-pagination {
	width: 100%;
}

.banner .swiper-pagination .swiper-pagination-bullet {
	width: 24px;
	height: 5px;
	border-radius: 0;
	margin: 0 5px;
	background: rgba(50, 179, 255, 1);
}

.nav {
	height: 120px;
	background: rgba(50, 179, 255, 1);
	border-radius: 8px;
	box-shadow: 2px 2px 24px rgba(50, 179, 255, .8);
	margin-left: 15px;
	margin-right: 15px; overflow: hidden;
}

.nav ul {
	display: flex;
	flex-wrap: wrap;
}

.nav ul li {
	width: 25%;
	line-height: 59px;	
	border-bottom: 1px solid #eee;
}
.nav li{border-left: 1px solid #eee;}
.nav li:first-child{ border-left:0;}

.nav ul li span {
	padding: 0 10px;
	text-align: center;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	font-size: 24px;
}

.cpzx{ height: 67px; margin: 0 auto; background: url(../pic/cp.jpg) no-repeat center; margin-bottom: 38px;}
.cpzx h2{ text-align: center; font-weight: bold; padding-top: 20px; margin-top: 44px;}
.hot-product .menu-content .swiper-slide {
	width: 255px;
}

.hot-product .menu-content .swiper-slide img {
	width: 255px;
	height: 142px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.hot-product .menu-content .swiper-slide .info {
	background: rgba(50, 179, 255, 1);
	padding: 10px;
	box-shadow: 2px 2px 24px rgba(50, 179, 255, .8);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.hot-product .menu-content .swiper-slide .info h4 {
	font-size: 22px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hot-product .menu-content .swiper-slide .info p {
	font-size: 18px;
	color: rgba(255, 255, 255, .7);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hot-product .menu-content .last-slide {
	width: 95px;
}

.hot-product .menu-content .last-slide .icon {
	width: 25px;
	height: 25px;
	background: url(../img/more-icon.png) no-repeat center 50%/100% 100%;
	display: block;
	float: left;
	margin-top: 100px;
}

.hot-product .menu-content .last-slide .text {
	width: 21px;
	font-size: 21px;
	margin-left: 10px;
	line-height: 1.5;
	float: left;
	margin-top: 15px;
}

.product-center .tabs {
	background: rgba(50, 179, 255, 1);
	border-radius: 8px;
	display: flex;
	margin-bottom: 20px;
	overflow: hidden;
	box-shadow: 2px 2px 24px rgba(50, 179, 255, .8);
	height:70px;
	line-height:70px;
	margin-top: 34px;
}

.product-center .tabs a {
	color: #fff;
	font-size: 24px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 153px;
	text-align: center; border-right: 1px solid #fff;
}

.product-center .tabs a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background: rgba(50, 179, 255, 1);
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.product-center .tabs a.active {
	color: rgba(50, 179, 255, 1);
	background-color: #fff;
	height:81px;
}

.product-center .tabs a.active:before {
	width: 100%;
}

.product-center .tabs-container {}

.product-center .swiper-slide {
	display: flex;
}

.product-center .item {
	width: 294px;
}

.product-center .item .img {
	width: 294px;
	height: 182px;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 2px 4px 10px rgba(50, 179, 255, .15);
}

.product-center .item .img img {
	width: 100%;
	height: 100%;
}

.product-center .item h4 {
	border-radius: 10px;
	width: 100%;
	padding: 2px 0px;
	margin: 10px auto;
	text-align: center;
	font-size: 23px;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-center .item:first-child {
	margin-right:22px;
	margin-left: 15px;
}



.product-cat a {
    color: #888888;
	font-size: 22px;
	min-width: 25%;
	padding: 5px 10px;
	border: 1px solid rgba(50, 179, 255, .09);
	background: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
}

/*优势*/
.yszzx{  }
.zylc{ width: 480px; position: relative; z-index: 1;}
.yszzx .ys_ys {
	background: rgba(50, 179, 255, 1);
	border-radius: 8px;
	/* display: flex; */
	margin-bottom: 20px;
	overflow: hidden;
	box-shadow: 2px 2px 24px rgba(50, 179, 255, .8);
	height: auto;
	float: left;
	width: 90px;
	margin-left: 15px;
	margin-top: 60px;
}

.yszzx .ys_ys a {
	color: #fff;
	font-size: 36px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 90px;
	text-align: center;
	display: block;
	height: 100px;
	line-height: 100px; border-bottom: 1px solid #fff;
}
.yszzx .ys_ys i { font-style:normal;
	color: #fff;
	font-size: 36px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 90px;
	text-align: center;
	display: block;
	height: 100px;
	line-height: 100px; border-bottom: 1px solid #fff;
}

.yszzx .ys_ys a:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background: rgba(50, 179, 255, 1);
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.yszzx .ys_ys i:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background: rgba(50, 179, 255, 1);
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}


.yszzx .ys_ys i.active { display:block;
	color: #333;
	background-color: #fff;
	height: 100px;
	width: 90px;
	line-height: 100px;
	font-size: 36px;
}

.yszzx .ys_ys a.active { display:block;
	color: #333;
	background-color: #fff;
	height: 100px;
	width: 90px;
	line-height: 100px;
	font-size: 36px;
}

.yszzx .ys_ys i.active:before {
	width: 100%;
}

.yszzx .ys_ys a.active:before {
	width: 100%;
}

.yszzx .swiper-slide {
	display: flex;
}

.yszzx .gsmc {
}

.yszzx .gsmc .iog {
	width: 478px;
	height: 200px;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 2px 4px 10px rgba(50, 179, 255, .15);
}

.yszzx .gsmc .iog img {
	width: 100%;
	height: 100%;
}

.yszzx .gsmc h4 {
	border-radius: 10px;
	width: 100%;
	padding: 6px 0px;
	font-size: 26px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 12px;
}
.yszzx .swiper-wrapper{  float: right;width: 478px;margin-right: 15px;margin-top: 60px;}
.yszzx .gsmc b{ display: block; height: 3px; width: 72px; background: rgba(50, 179, 255, .8);}
.yszzx .gsmc p{color: #666;width: 480px;margin-top: 10px;line-height: 40px; height: auto;}

.yszzx .gsmc:first-child {
width: 478px;float: right;}

.product-cat a {
    color: #888888;
	font-size: 22px;
	min-width: 25%;
	padding: 5px 10px;
	border: 1px solid rgba(50, 179, 255, .09);
	background: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
}





.tt {
	background: rgba(50, 179, 255, .025);
	text-align: center;
	padding: 30px 0;
}

.tt h4 {
	font-size: 27px;
	color: rgba(50, 179, 255, 1);
	font-weight: normal;
}

.tt p {
	font-size: 21px;
	color: #525252;
	padding-top: 4px;
}

.tt a {
	display: inline-block;
	background: rgba(50, 179, 255, 1);
	border-radius: 100px;
	padding: 5px 8px;
	margin: 10px auto;
	color: #fff;
	box-shadow: 0px 0px 15px 4px rgba(50, 179, 255, .5);
	margin-top: 24px;
	width: 410px;
	height: 56px;
	line-height: 47px;
}

.tt a em{ width: 110px; height: 46px; background: #fff; border-radius: 53px;color: #333;font-style: normal;font-size: 16px;float: right;}


/*案例*/

.case {
	position: relative;
	margin: 0 auto;
}
.case h5{ width: 452px; height: 64px; background:url(../pic/al.jpg)  no-repeat center; margin: 0 auto; font-size: 1.6rem; text-align: center;padding-top: 28px;margin-top: 20px;margin-bottom: 40px;}
.case .swiper-container {
    padding-bottom: 12px;
}

.case .swiper-slide {
	width: 368px;
}

.case .imm{
    box-shadow: 2px 2px 24px rgba(50, 179, 255, .4);
    width: 330px;
    height: 220px;
    margin: 0 auto;
}
.case .swiper-slide-active h4{  opacity:1!important;}
.case .swiper-slide h4 {
	padding: 10px;
	font-weight: normal;
	position: relative;
	z-index: 9;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 20px;
	width: 330px;
	opacity: 0; margin: 0 auto;
}

.case .swiper-slide img {
	display: block;
	width: 330px;
	height: 220px;
	border-radius: 8px;
}

.case .swiper-slide p {
	line-height: 98px;
	padding-top: 0;
	text-align: center;
	color: #636363;
	font-size: 1.1em;
	margin: 0;
}









/*关于*/
.xgxw{ height: 340px; width: auto; margin-top: 40px;}
.iske{ height: 118px;  background:rgba(50, 179, 255, 1); position: relative; }
.iske img{ width: 286px; height: 304px; float: left; border-radius:8px; position: absolute; left: 15px; top: 36px;box-shadow: 0px 2px 24px rgba(50, 179, 255, .4);}
.jjyb{ float: right; margin-right: 15px; width: 300px;}
.jjyb  h3{ font-size: 24px; float: left; font-weight: bold; position: absolute; top: 54px;}
.jjyb  h3 a{ color: #fff;}
.jjyb p{ line-height: 44px; font-size: 22px; color: #666; height: 176px; overflow: hidden; position: absolute; top: 146px;margin-right: 15px;}

.bn2{ height: 52px; margin-left: 15px; margin-right: 15px; margin-top: 44px;}
.ljbx{width: 190px; height: 52px; line-height: 52px; text-align: center; float: left; background: rgba(50, 179, 255, 1);border-radius:8px;  box-shadow: 2px 2px 24px rgba(50, 179, 255, .8);}
.ljbx a{color: #fff;}
.bn2 p{ float: right; color: #0d99fa;font-size: 28px;text-align: center;width: 406px;line-height: 52px;}

.hex{ height: 18px; width:100%; background:url(../pic/01.jpg) repeat-x;margin-top: 40px;}

.jzzx{ margin-top: 50px;}
.jzzx h3{background: url(../pic/jz.jpg) no-repeat center; margin: 0 auto; text-align: center; font-weight: bold; font-size: 1.6rem; padding-top: 26px;}
.jzzx ul{   margin-top: 40px;}
.jzzx ul li{ float: left; width: 290px; height: 320px; background:#fff; box-shadow: 2px 2px 24px rgba(50, 179, 255, .3); border-radius:6px;margin: 0 15px;margin-bottom: 20px; overflow: hidden;}
.jzzx ul li img{ width: 290px; height: 160px;border-radius:6px;}
.jzzx ul li h4{ text-align: center;  font-weight: normal;margin-top: 16px;margin-bottom: 6px;font-size: 22px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.jzzx ul li i{ display: block; width: 46px; height: 2px; background: rgba(50, 179, 255, 1); margin: 0 auto;}
.jzzx ul li p{ color: #666;margin: 18px 14px;font-size: 21px;line-height: 32px;height: 64px;overflow: hidden;}

.xwzzzs{height: auto; margin-top:28px;}
.swiper-slide .xwim{ height: 130px; margin:15px; box-shadow: 0px 0px 15px 4px rgba(50, 179, 255, .4);border-radius: 8px;width: 200px; float: left;}
.xwzzzs ul{ }
.xwzzzs ul .iekv{ float: left; width: 395px; margin-right: 15px;}
.xwzzzs ul li{ overflow: hidden; margin-bottom:6px;}
.xwzzzs ul li h3{ padding-left:10px;margin-top:18px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.xwzzzs ul li p{ color: #666; padding-left: 10px;font-size: 19px;margin-top: 6px;line-height: 34px;height: 68px;overflow: hidden;}
.xwzzzs ul li a:hover{color: rgba(50, 179, 255, 1);}

.news {
	padding-bottom: 60px;
}

.news .tabs {
	background:url(../pic/xw.jpg) no-repeat center;
	height: 64px;
	line-height: 34px;
	padding-left: 64px;
	width: 100%; margin-top: 40px;
}

.news .tabs a {
	position: relative;
	display: inline-block;
	width: 30%;
	text-align: center;
}

.news .tabs a.active {
	color: rgba(50, 179, 255, 1);
	width: 30%;
	text-align: center;
}


.news .tabs a.active i {
	opacity: 1;
	transform: rotateZ(0);
	-webkit-transform: rotateZ(0);
}

.news .tabs a:before {
	content: '';
	display: block;
	position: absolute;
	left: 22%;
	bottom: -2px;
	width: 0px;
	height: 1px;
	background: rgba(50, 179, 255, 1);
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.news .tabs .active:before {
	width: 0;
}

.news .items {
	padding: 10px;
	background: #fff;
	margin-top: 10px;
	border-radius: 7px;
	box-shadow: 0px 5px 8px rgba(50, 179, 255, .15);
	margin-bottom: 18px;
}

.news .items .img {
	float: left;
	margin-right: 20px;
}

.news .items .img img {
	width: 124px;
	height: 84px;
	border-radius: 7px;
}

.news .items .info {}

.news .items h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.news .items p {
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #bbb;
}

.news .items span {
	font-size: 18px;
	color: #bbb;
}

.footer {
	background: rgba(50, 179, 255, 1);
	padding: 50px 0 100px;
	position: relative;
}

.footer .gotop {
	display: block;
	width: 42px;
	height: 42px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: -16px;
	margin-left: -16px;
	border-radius: 50%;
	box-shadow: 0px 0px 20px 0px rgba(50, 179, 255, .6);
	background: #fff;
}

.footer .gotop:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	left: -45px;
	border-right: 20px solid transparent;
	-webkit-filter: drop-shadow(rgb(50, 179, 255) 45px 0px);
	filter: drop-shadow(rgb(50, 179, 255) 45px 0px);
	background: url(../img/gotop.png) no-repeat center center;
}

.footer .info {
	background: #fff;
	padding: 20px;
}

.footer .info p {
	font-size: 24px;
	text-align: center;
	width: 100%;
	line-height: 38px;
}

.footer .info .qrcode {
	width: 118px;
	height: 118px;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 10px;
}

.footer .info .qrcode img {
	width: 118px;
	height: 118px;
}

.footer-bar {
	position: fixed;
	bottom: 0;
	background: rgba(50, 179, 255, 1);
	width: 640px;
	z-index: 999;
	box-shadow: 0px 0px 20px 0px rgba(50, 179, 255, .6);
}

.footer-bar ul {
	display: flex;
	justify-content: space-around;
}

.footer-bar li {
	/* width: 25%; */
	padding: 10px 0;
}

.footer-bar li img {
	display: block;
	margin: auto;
}

.footer-bar li span {
	color: rgba(255, 255, 255, .63);
}

#kefu-ball{
	background: rgba(50, 179, 255, 1);
	position: fixed;
	right: 0;
	bottom: 30%;
	border-radius: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px 0px rgba(50, 179, 255, .6);
}
